.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg__os2A9 {
  position: relative;
  height: 1em;
}
.svg__gy8Z {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-bJzOVD9L3UeQ);
  display: block;
  color: var(--token-KIY-cuIkNdk3);
  font-family: var(--token-ym9ExLy22F5_);
  font-size: var(--token-CV0tlnWYFyuS);
  line-height: var(--token-JfWPk3YXGWbZ);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-Ss3OYau4HzNm);
}
.pcls_rRfN44pnNMO7 {
  background: var(--token-g1trN9VdbZEe);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  overflow: hidden;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.h3__dmbwJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-GrHYfGxgODLF);
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-qJxRVXn7Y9Jn);
  padding-right: var(--token-qJxRVXn7Y9Jn);
}
.freeBox___5T15L {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-K0I_pluDx2AD);
}
.text__qMyPd {
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-shrink: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.freeBox___1MxoM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__lPss5 {
  position: relative;
  height: 1em;
}
.text__w2YHf {
  padding-left: 0px;
}
.svg__g8Wuk {
  position: relative;
  height: 1em;
}
