.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  background: #e7e6e2;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  background: #ffffff;
  column-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 229px;
  border-bottom: 1px solid #53535333;
}
@media (min-width: 0px) and (max-width: 768px) {
  .topBar {
    margin-bottom: 0px;
    padding: 0px;
  }
}
.freeBox__yWSu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yWSu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.freeBox__zL6M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 982px;
  height: 40px;
  column-gap: 8px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zL6M {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 982px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  padding: 16px;
}
.link__vyC12 {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.img__coOy {
  object-fit: cover;
  height: 30px;
  object-position: 100% 100%;
  position: absolute;
  left: 0px;
  top: 5px;
}
.img__coOy > picture > img {
  object-fit: cover;
  object-position: 100% 100%;
}
.img___8FiF3 {
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}
.img___8FiF3 > picture > img {
  object-fit: cover;
}
.img__cnsZ0 {
  object-fit: cover;
}
.img__cnsZ0 > picture > img {
  object-fit: cover;
}
.link__v19L {
  position: absolute;
  width: 90px;
  height: 30px;
  max-width: 100%;
  left: 520px;
  top: 3px;
  text-align: center;
  font-size: 11px;
  color: #545454;
  text-transform: capitalize;
  border-right: 1px solid #0000000d;
}
.root .link__v19L:hover {
  color: #a5e612;
}
.root .link__v19L:not(:hover) {
  color: #545454;
}
.root .link__v19L:active {
  color: #228b22;
}
.link__hbsZg {
  position: absolute;
  width: 90px;
  height: 30px;
  max-width: 100%;
  left: 602px;
  top: 3px;
  font-size: 11px;
  text-align: center;
  color: #545454;
  border-right: 1px solid #0000000d;
}
.root .link__hbsZg:hover {
  color: #a5e612;
}
.root .link__hbsZg:active {
  color: #228b22;
}
.link__dFyZw {
  position: absolute;
  width: 90px;
  height: 30px;
  max-width: 100%;
  left: 692px;
  top: 3px;
  font-size: 11px;
  text-align: center;
  color: #545454;
  cursor: not-allowed;
  border-right: 1px solid #0000000d;
}
.root .link__dFyZw:hover {
  color: #a5e612;
}
.root .link__dFyZw:active {
  color: #228b22;
}
.link___2RKWg {
  position: absolute;
  width: 90px;
  height: 30px;
  max-width: 100%;
  left: 782px;
  top: 3px;
  font-size: 11px;
  text-align: center;
  color: #545454;
  border-right: 1px solid #0000000d;
}
.root .link___2RKWg:hover {
  color: #a5e612;
}
.root .link___2RKWg:active {
  color: #228b22;
}
.account:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 30px;
  height: 30px;
  padding-left: 0px;
  margin-left: 4px;
  font-size: 12px;
  color: #cb1717;
  box-shadow: none;
  font-weight: 300;
  position: absolute;
  left: 924px;
  top: 4px;
  flex-shrink: 0;
}
.account__dropdownMenu:global(.ant-dropdown-menu) {
  box-shadow: 2px 4px 7px 0px #00000040;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background: linear-gradient(90deg, #ffffff 56%, #e7e6e280 100%) 0% 0% / 100%
    100% repeat;
  color: #d41818;
  outline: none;
  border-radius: 0px 8px 8px;
  border: 1px solid #53535333;
}
.account__dropdownMenu:global(.ant-dropdown-menu)
  :global(.ant-dropdown-menu-item) {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 11px;
  background: none;
  outline: none;
}
.account__dropdownMenu:global(.ant-dropdown-menu)
  :global(.ant-dropdown-menu-item-active) {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  background: #e7e6e2;
  text-decoration-line: underline;
  outline: none;
}
.menuItem__zbQZr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__a2Wp0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__oEcNl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__alKKn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__r8TE1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  cursor: default;
  border-width: 0px;
}
.img__a120P {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 11px;
}
.img__a120P > picture > img {
  object-fit: cover;
}
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 240px;
  height: 365px;
  max-width: 100%;
  background: #ffffff;
  position: absolute;
  left: -151px;
  top: 71px;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #53535333;
}
.userImg {
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  height: 80px;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 100px;
}
.userImg > picture > img {
  object-fit: cover;
}
.comunnityLogo {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 130px;
  top: 54px;
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #54545433;
}
.comunnityLogo > picture > img {
  object-fit: cover;
}
.text__yidoQ {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  left: 0px;
  top: 109px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
  border-bottom: 1px solid #00000033;
}
.text__tnrQu {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  left: 0px;
  top: 131px;
  font-size: 12px;
  font-weight: 400;
  min-width: 0;
}
.freeBox___1UFu2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 152px;
  left: 0px;
  min-width: 0;
  padding: 0px;
}
.text__sEjZs {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  min-width: 0;
  padding: 0px;
}
.text__qfwb {
  width: 10px;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  flex-shrink: 0;
}
.text__qWToM {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  min-width: 0;
}
.link__wQsUf {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 174px;
  font-size: 12px;
  color: #000000;
  height: 22px;
  background: #e7e6e21a;
  min-width: 0;
  flex-shrink: 0;
}
.root .link__wQsUf:hover {
  background: #e7e6e2;
  text-decoration-line: underline;
  color: #228b22;
  cursor: pointer;
}
.root .link__wQsUf:active {
  color: #000000;
  font-weight: 600;
  background: #e7e6e2;
}
.text__w41Pf {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  left: 0px;
  top: 196px;
  font-size: 12px;
  font-weight: 400;
  min-width: 0;
}
.freeBox__bpWgu {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 214px;
  left: 0px;
  min-width: 0;
  padding: 0px;
}
.text__hHlTw {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  min-width: 0;
  padding: 0px;
}
.text__gevIh {
  width: 10px;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  flex-shrink: 0;
}
.text__of5Ug {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  min-width: 0;
}
.text___09I3A {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  left: 0px;
  top: 237px;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
  border-bottom: 1px solid #00000033;
}
.progress:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 2px;
  top: 259px;
  text-align: center;
}
.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 245px;
  height: 275px;
  max-width: 100%;
  background: #ffffff;
  position: absolute;
  left: 668px;
  top: 70px;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #53535333;
}
.alert:global(.__wab_instance) {
  max-width: 100%;
}
.svg__nfzMe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.text__niduq {
  font-size: 12px;
}
.text__wSh0L {
  font-size: 12px;
}
.container2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 539px;
  height: 89px;
  max-width: 100%;
  top: 70px;
  left: 109px;
  background: #ffffff;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #53535333;
}
.img__jCx7V {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 24px;
  top: 24px;
  flex-shrink: 0;
  border-radius: 20px;
}
.img__jCx7V > picture > img {
  object-fit: cover;
}
.dialogCore:global(.__wab_instance) {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  max-width: 100%;
  object-fit: cover;
  -webkit-backdrop-filter: blur(10px);
}
.dialogoButton___8EIbB:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 84px;
  top: 29px;
  height: 30px;
  width: 400px;
}
.svg___1R9Aj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__pU8VX {
  text-align: left;
  position: absolute;
  left: -179px;
  top: -9px;
}
.svg__lmXnm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialogContent:global(.__wab_instance) {
  box-shadow: 2px 4px 7px 0px #00000033;
  background: rgb(255, 255, 255);
  width: 700px;
  position: relative;
  max-width: 100%;
  object-fit: cover;
  opacity: 1;
  height: auto;
  border-radius: 8px;
  padding: 24px;
  margin: 10% auto;
  border: 1px solid #53535333;
}
.freeBox__lnEev {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 8px;
  row-gap: 8px;
  min-width: 0;
  padding: 8px;
}
.textAreaInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.dialogDescription:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
}
.freeBox__isGt8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.upload:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 14px;
  width: 100px;
  height: 26px;
  flex-shrink: 0;
}
.dialogoButton__lferf:global(.__wab_instance) {
  max-width: 100%;
  width: 40px;
  height: 26px;
}
.svg___3YDaj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9Pk5 {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  margin-right: 3px;
  color: #545454;
}
.svg__oTkTt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  width: 100px;
  height: 24px;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.loginButton:global(.__wab_instance) {
  max-width: 100%;
  width: 100px;
  height: 24px;
  position: relative;
  left: auto;
  top: auto;
  min-height: 24px;
  max-height: 24px;
  margin-left: 133px;
  flex-shrink: 0;
}
.svg__e7FK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__kiQ3L {
  font-size: 16px;
}
.svg__iJ5W0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialogClose:global(.__wab_instance) {
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: 0.7;
  max-width: 100%;
  object-fit: cover;
  border-radius: 999px;
}
.containerPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 539px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: absolute;
  left: 109px;
  top: 189px;
  max-height: 400px;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #53535333;
}
.img___80Nj8 {
  object-fit: cover;
  max-width: 539px;
  max-height: 400px;
  border-radius: 8px;
}
.img___80Nj8 > picture > img {
  object-fit: cover;
}
.hoverInteractionEngajament {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: auto;
  top: 0px;
  z-index: 1;
  background: linear-gradient(
      180deg,
      transparent 0%,
      #00000061 33%,
      #000000c4 98%,
      transparent 100%
    )
    0% 0% / 100% 100% repeat;
  max-height: 320px;
  opacity: 0;
  right: 0px;
  margin-top: 35px;
  margin-bottom: 0px;
  min-width: 0;
  min-height: 0;
  border-radius: 0px;
  padding: 8px;
}
.root .hoverInteractionEngajament:hover {
  opacity: 1;
}
.text__srFl {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 210px;
  left: 64px;
  top: auto;
  color: #ffffff;
  font-size: 11px;
  bottom: 27px;
}
.commentsColun {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 250px;
  max-width: 100%;
  top: 34px;
  left: auto;
  bottom: 80px;
  right: 8px;
  height: 244px;
  flex-shrink: 0;
  padding: 0px;
}
.commentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: auto;
  min-height: 20px;
  max-height: none;
  position: relative;
  left: auto;
  top: auto;
  align-self: baseline;
  z-index: 1;
  right: auto;
  bottom: auto;
  padding: 0px;
}
.img__oymas {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 14px;
}
.img__oymas > picture > img {
  object-fit: cover;
}
.userAndComment {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 0px 2px;
}
.link__s4RhE {
  text-align: left;
  font-weight: 600;
  font-size: 11px;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___0OYw3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #ffffff;
  font-weight: 300;
  min-width: 0;
}
.rate:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: flex-end;
  position: absolute;
  left: auto;
  top: auto;
  background: none;
  box-shadow: none;
  bottom: 50px;
  color: #f2dea9;
  border-radius: 5px;
}
.textarea {
  width: 250px;
  height: 40px;
  max-width: 100%;
  font-size: 11px;
  color: #ffffff;
  position: absolute;
  left: auto;
  top: auto;
  align-self: flex-end;
  z-index: 5;
  right: 8px;
  bottom: 8px;
  max-height: 80px;
  background: linear-gradient(0deg, #ffffff33 0%, #ffffff66 100%) 0% 0% / 100%
    100% repeat;
  flex-shrink: 0;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #fffcfc66;
}
.root .textarea::placeholder {
  color: #ffffffcc;
}
.userActionDataOut {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(0deg, #ce9fff00 15%, #00000038 100%) 0% 0% / 100%
    100% repeat;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.root .userActionDataOut:hover {
  background: linear-gradient(0deg, #ce9fff00 15%, transparent 100%) 0% 0% /
    100% 100% repeat;
}
.img__dWd1S {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
}
.img__dWd1S > picture > img {
  object-fit: cover;
}
.entradaDeDadosUsuarioEAcao {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 8px;
}
.link__h2L5C {
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  padding-right: 4px;
}
.text__n84Ff {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #f5f5f5;
  font-weight: 300;
  padding-right: 4px;
}
.link__d6Lez {
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  padding-right: 0px;
}
.dropdown:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  margin-left: 160px;
}
.dropdown__dropdownMenu:global(.ant-dropdown-menu) {
  background: linear-gradient(90deg, #ffffff 56%, #e7e6e280 100%) 0% 0% / 100%
    100% repeat;
  outline: none;
  border-radius: 0px 8px 8px;
  border: 1px solid #53535333;
}
.dropdown__dropdownMenu:global(.ant-dropdown-menu)
  :global(.ant-dropdown-menu-item) {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: #000000;
  outline: none;
}
.dropdown__dropdownMenu:global(.ant-dropdown-menu)
  :global(.ant-dropdown-menu-item-active) {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 11px;
  text-decoration-line: underline;
  outline: none;
}
.menuItem___55TWm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___59X3O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__pv5Hd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__r7Jdo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.plusButton:global(.__wab_instance) {
  max-width: 100%;
  width: 40px;
  height: 40px;
}
.svg__pZevS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2CfQz {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  max-height: 40px;
  color: #f5f1f1d9;
}
.svg__vnptg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.messageBox:global(.__wab_instance) {
  color: #a83a3a;
  max-width: 100%;
  object-fit: cover;
  justify-self: baseline;
  left: auto;
  top: auto;
  z-index: 1;
  position: fixed;
  flex-direction: column;
  width: 250px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.2);
  bottom: 0;
  right: 20px;
  display: none;
  border: 1px solid #53535333;
}
.messageBox__dropdownMenu:global(.ant-dropdown-menu) {
  background: linear-gradient(270deg, #ffffff 38%, #ffffff00 100%) 0% 0% / 100%
    100% repeat;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.2);
  color: #000000;
  outline: none;
  border-radius: 8px;
  border: 1px solid #53535333;
}
.messageBox__dropdownMenu:global(.ant-dropdown-menu)
  :global(.ant-dropdown-menu-item) {
  color: #535353;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-align: left;
  background: #ffffff0d;
  outline: none;
}
.messageBox__dropdownMenu:global(.ant-dropdown-menu)
  :global(.ant-dropdown-menu-item-active) {
  color: #000000;
  outline: none;
}
.menuItem__p0X4A:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__iyO5G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__s4CNt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__r3Rp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__adV2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: auto;
  top: auto;
  z-index: 1;
  font-weight: 700;
  font-size: 12px;
  color: #535353;
}
.text__kAdNt {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 9px;
  top: 8px;
  z-index: 1;
  align-self: center;
}
.svg__up8Wp {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 217px;
  top: 9px;
  width: 14px;
  height: 14px;
  min-width: 14px;
}
