.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  background: #e7e6e2;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  background: #ffffff;
  column-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 229px;
  border-bottom: 1px solid #53535333;
}
@media (min-width: 0px) and (max-width: 768px) {
  .topBar {
    margin-bottom: 0px;
    padding: 0px;
  }
}
.freeBox___2MUgg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2MUgg {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.freeBox__bybji {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 982px;
  height: 40px;
  column-gap: 8px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bybji {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 982px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  padding: 16px;
}
.link___65RSg {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.img___1JuN {
  object-fit: cover;
  height: 30px;
  object-position: 100% 100%;
  position: absolute;
  left: 0px;
  top: 5px;
}
.img___1JuN > picture > img {
  object-fit: cover;
  object-position: 100% 100%;
}
.img__ovtgd {
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}
.img__ovtgd > picture > img {
  object-fit: cover;
}
.img__rHiNi {
  object-fit: cover;
}
.img__rHiNi > picture > img {
  object-fit: cover;
}
.link__dIgh {
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 520px;
  top: 0px;
  text-align: center;
  font-size: 11px;
  color: #545454;
  text-transform: capitalize;
  white-space: pre-wrap;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
}
.link__vcucU {
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 602px;
  top: 0px;
  font-size: 11px;
  text-align: center;
  color: #545454;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
}
.link__s2MfF {
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 692px;
  top: 0px;
  font-size: 11px;
  text-align: center;
  color: #545454;
  cursor: not-allowed;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
}
.link__lp0I {
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 782px;
  top: 0px;
  font-size: 11px;
  text-align: center;
  color: #228b22;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 0px solid #228b2266;
  border-bottom: 2px solid #228b2266;
}
.account:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 30px;
  height: 30px;
  padding-left: 0px;
  margin-left: 4px;
  font-size: 12px;
  color: #cb1717;
  box-shadow: none;
  font-weight: 300;
  position: absolute;
  left: 924px;
  top: 4px;
  flex-shrink: 0;
}
.menuItem__x8Sh7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__us732 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.menuItem___766G9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ljnnF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  cursor: default;
  border-width: 0px;
}
.img__v1LKt {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 11px;
}
.img__v1LKt > picture > img {
  object-fit: cover;
}
.container3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 799px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: absolute;
  left: -151px;
  top: 71px;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #53535333;
}
.freeBox___6PQYk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 8px;
}
.img___0UEkD {
  object-fit: cover;
  max-width: 100%;
  height: 100px;
  width: 100px;
  object-position: 50% 50%;
  flex-shrink: 0;
  border-radius: 300px;
  border-width: 1px;
}
.img___0UEkD > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 62px;
  margin-top: -48px;
  margin-left: 0px;
  color: #545454;
  flex-shrink: 0;
}
.text___6RNz8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  min-width: 0;
}
.freeBox__koO7T {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__w4Y5W {
  width: 150px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(270deg, #e5d19c 0%, #988250 100%) 0% 0% / 100%
    100% repeat;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  padding: 0px 0px 0px 10px;
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__f8Jq6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.freeBox__pxpjw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 150px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
}
.text__f0RH {
  position: relative;
  width: 100px;
  height: 35px;
  max-width: 100%;
  transform: rotate3d(0, 0, 1, -90deg);
  left: auto;
  top: auto;
  padding-left: 10px;
  font-size: 11px;
  color: #fafafa;
  background: #000000cc;
  align-self: auto;
  flex-shrink: 0;
}
.img___1UZr9 {
  object-fit: contain;
  max-width: 100%;
  width: 120px;
  height: 150px;
  margin-right: -60px;
  margin-left: -48px;
  flex-shrink: 0;
  border-width: 1px;
}
.img___1UZr9 > picture > img {
  object-fit: contain;
}
.text__kBeVi {
  width: 60px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(270deg, #e5d19c 0%, #988250 100%) 0% 0% / 100%
    100% repeat;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  align-self: auto;
  position: relative;
  left: auto;
  top: auto;
  margin-top: -131px;
  flex-shrink: 0;
}
.freeBox__fHtQn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.freeBox__g4Zsy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 150px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
}
.text__tDaZ {
  position: relative;
  width: 100px;
  height: 35px;
  max-width: 100%;
  transform: rotate3d(0, 0, 1, -90deg);
  left: auto;
  top: auto;
  padding-left: 10px;
  font-size: 11px;
  color: #fafafa;
  background: #000000cc;
  align-self: auto;
  flex-shrink: 0;
}
.img__jR7Ec {
  object-fit: contain;
  max-width: 100%;
  width: 120px;
  height: 150px;
  margin-right: -60px;
  margin-left: -48px;
  flex-shrink: 0;
  border-width: 1px;
}
.img__jR7Ec > picture > img {
  object-fit: contain;
}
.text__pucYc {
  width: 60px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(270deg, #e5d19c 0%, #988250 100%) 0% 0% / 100%
    100% repeat;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  align-self: auto;
  position: relative;
  left: auto;
  top: auto;
  margin-top: -131px;
  flex-shrink: 0;
}
.freeBox__ljh9L {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.freeBox__w2RWu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 150px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
}
.text___26RoB {
  position: relative;
  width: 100px;
  height: 35px;
  max-width: 100%;
  transform: rotate3d(0, 0, 1, -90deg);
  left: auto;
  top: auto;
  padding-left: 10px;
  font-size: 11px;
  color: #fafafa;
  background: #000000cc;
  align-self: auto;
  flex-shrink: 0;
}
.img__g394T {
  object-fit: contain;
  max-width: 100%;
  width: 120px;
  height: 150px;
  margin-right: -60px;
  margin-left: -48px;
  flex-shrink: 0;
  border-width: 1px;
}
.img__g394T > picture > img {
  object-fit: contain;
}
.text__k1YdF {
  width: 60px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(270deg, #e5d19c 0%, #988250 100%) 0% 0% / 100%
    100% repeat;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  align-self: auto;
  position: relative;
  left: auto;
  top: auto;
  margin-top: -131px;
  flex-shrink: 0;
}
.freeBox__ubf2K {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.freeBox__kQUy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 150px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
}
.text__olcOn {
  position: relative;
  width: 100px;
  height: 35px;
  max-width: 100%;
  transform: rotate3d(0, 0, 1, -90deg);
  left: auto;
  top: auto;
  padding-left: 10px;
  font-size: 11px;
  color: #fafafa;
  background: #000000cc;
  align-self: auto;
  flex-shrink: 0;
}
.img__vsaap {
  object-fit: contain;
  max-width: 100%;
  width: 120px;
  height: 150px;
  margin-right: -60px;
  margin-left: -48px;
  flex-shrink: 0;
  border-width: 1px;
}
.img__vsaap > picture > img {
  object-fit: contain;
}
.text__cocz {
  width: 60px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(270deg, #e5d19c 0%, #988250 100%) 0% 0% / 100%
    100% repeat;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  align-self: auto;
  position: relative;
  left: auto;
  top: auto;
  margin-top: -131px;
  flex-shrink: 0;
}
.freeBox__tpG0 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.freeBox__n9A9M {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 150px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
}
.text__waXrZ {
  position: relative;
  width: 100px;
  height: 35px;
  max-width: 100%;
  transform: rotate3d(0, 0, 1, -90deg);
  left: auto;
  top: auto;
  padding-left: 10px;
  font-size: 11px;
  color: #fafafa;
  background: #000000cc;
  align-self: auto;
  flex-shrink: 0;
}
.img__kX2Mt {
  object-fit: contain;
  max-width: 100%;
  width: 120px;
  height: 150px;
  margin-right: -60px;
  margin-left: -48px;
  flex-shrink: 0;
  border-width: 1px;
}
.img__kX2Mt > picture > img {
  object-fit: contain;
}
.text__jHpgB {
  width: 60px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(270deg, #e5d19c 0%, #988250 100%) 0% 0% / 100%
    100% repeat;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  align-self: auto;
  position: relative;
  left: auto;
  top: auto;
  margin-top: -131px;
  flex-shrink: 0;
}
.container2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: 245px;
  height: 300px;
  max-width: 100%;
  left: 668px;
  top: 70px;
  background: #ffffff;
  border-radius: 8px;
  padding: 8px;
}
.textarea {
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
}
.inviteButon:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 10px;
  width: auto;
  height: 20px;
  flex-shrink: 0;
}
.svg__nrpF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__l965J {
  font-size: 12px;
}
.svg___3XZw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.container10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 799px;
  height: 72px;
  max-width: 100%;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  margin-top: 231px;
  margin-left: -303px;
  padding: 0px;
}
.sliderCarousel2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__r2B0K {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.loginButton__i7Oqd:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 56px;
  flex-shrink: 0;
}
.img__s7T2O {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
}
.img__s7T2O > picture > img {
  object-fit: cover;
}
.text__tdpIa {
  font-size: 14px;
}
.svg__kaKgg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ftMlf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.loginButton___4W45K:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 56px;
  flex-shrink: 0;
}
.img__vNTuv {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
}
.img__vNTuv > picture > img {
  object-fit: cover;
}
.text__zzh4K {
  font-size: 14px;
}
.svg__k2Jsa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__jkiLr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.loginButton___7N2K2:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 56px;
  flex-shrink: 0;
}
.img__aBnwj {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
}
.img__aBnwj > picture > img {
  object-fit: cover;
}
.text__x6YwL {
  font-size: 14px;
}
.svg__xQQlq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__et3Wm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.loginButton__ikqpa:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 56px;
  flex-shrink: 0;
}
.img__sv1Ld {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
}
.img__sv1Ld > picture > img {
  object-fit: cover;
}
.text__wTfW {
  font-size: 14px;
}
.svg__h7XvM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___3Di7H {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.loginButton__gvhWo:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 56px;
  flex-shrink: 0;
}
.img___06NZd {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
}
.img___06NZd > picture > img {
  object-fit: cover;
}
.text__ijj5E {
  font-size: 14px;
}
.svg__ly2J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__mnUy9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.loginButton__jGtk:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 56px;
  flex-shrink: 0;
}
.img__wdNxs {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
}
.img__wdNxs > picture > img {
  object-fit: cover;
}
.text__gv60F {
  font-size: 14px;
}
.svg__h0Wua {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__f1DZu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.loginButton__kb1A4:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 56px;
  flex-shrink: 0;
}
.img___77Kz0 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
}
.img___77Kz0 > picture > img {
  object-fit: cover;
}
.text__zfSxf {
  font-size: 14px;
}
.svg__sq9th {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.container7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 799px;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
    100deg,
    #e5d19ccc 0%,
    #654f1ecc 26%,
    #d4c49dcc 30%,
    #8e7746cc 31%,
    #e5d19ccc 84%,
    #ccc29ecc 100%
  );
  position: relative;
  left: auto;
  top: auto;
  margin-top: 20px;
  margin-left: -303px;
  border-radius: 8px;
  padding: 0px;
}
.text__kLSf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffffff;
  min-width: 0;
}
.freeBox___1R60 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 1400px;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__yTsNz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.popover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pcls_dbD30wBOWLdN {
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.2);
  outline: none;
}
.loginButton__byp6C:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kD7Xi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__h2D2X {
  white-space: pre-wrap;
  font-size: 14px;
}
.svg__ovtyf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__yhAxl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(90deg, #56565699 0%, #565656 100%);
  min-width: 0;
  padding: 0px;
}
.text__c2Hau {
  font-weight: 700;
  color: #ffffff;
}
.text__uOw {
  margin-left: 3px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}
.freeBox__rjetv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__sj0R9 {
  margin-left: 3px;
  font-size: 12px;
}
.freeBox__u1Ecl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__snBxB {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__dJvzP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__z8AOi {
  margin-left: 3px;
  font-size: 12px;
}
.freeBox__znhQg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__bWoUm {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__hZigk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___8QLm7 {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__pkdSy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.popover3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pcls_cirnjteyMwXn {
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.2);
  outline: none;
}
.loginButton___5E0MU:global(.__wab_instance) {
  max-width: 100%;
}
.svg__zEFrV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__oimeg {
  white-space: pre-wrap;
  font-size: 14px;
}
.svg___5XjTw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__zOr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__mvsBb {
  font-weight: 700;
}
.text__wvCI {
  margin-left: 3px;
  font-size: 12px;
  font-weight: 700;
}
.freeBox__sShPx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__lTjcF {
  margin-left: 3px;
  font-size: 12px;
}
.freeBox__vPo1X {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__w4Cpn {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__sum9Y {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__hcPDd {
  margin-left: 3px;
  font-size: 12px;
}
.freeBox__ttGa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__pOhv4 {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox___1B0MO {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___8ABQu {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__sWgtm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.popover4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pcls_wIkdU-CRojbI {
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.2);
  outline: none;
}
.loginButton___23Ad:global(.__wab_instance) {
  max-width: 100%;
}
.svg___7BVwG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__x9Zar {
  white-space: pre-wrap;
  font-size: 14px;
}
.svg__vLBA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__hLDu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__xCAzW {
  font-weight: 700;
}
.text__soxHn {
  margin-left: 3px;
  font-size: 12px;
  font-weight: 700;
}
.freeBox__qgiZb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__lb8AL {
  margin-left: 3px;
  font-size: 12px;
}
.freeBox__lft7K {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__guMnc {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__mrmY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__mPqyF {
  margin-left: 3px;
  font-size: 12px;
}
.freeBox__dGz5A {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__ibu5J {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__qWdrX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__zbNMd {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__tXxIr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.popover2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pcls_bbUg4UaUjJxY {
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.2);
  outline: none;
}
.loginButton__kFQdt:global(.__wab_instance) {
  max-width: 100%;
}
.svg__sogZ5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__osoqg {
  white-space: pre-wrap;
  font-size: 14px;
}
.svg__nSWkg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__nlTi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__hjfeg {
  font-weight: 700;
}
.text__cAt8X {
  margin-left: 3px;
  font-size: 12px;
  font-weight: 700;
}
.freeBox__n70Vd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__le7Wl {
  margin-left: 3px;
  font-size: 12px;
}
.freeBox___3Bgqu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__fymDc {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__wzlpo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__jyxRr {
  margin-left: 3px;
  font-size: 12px;
}
.freeBox__yV6Zf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__ajoyY {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__qBr0O {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__ff4Rv {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__sN1R {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.popover5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pcls_HCvoG02vsXC0 {
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.2);
  outline: none;
}
.loginButton__icihz:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kY09Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rOcTx {
  white-space: pre-wrap;
  font-size: 14px;
}
.svg__nOi6C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__qoNYa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__ztUki {
  font-weight: 700;
}
.text___4B1Bf {
  margin-left: 3px;
  font-size: 12px;
  font-weight: 700;
}
.freeBox__o5WKs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__fIOfR {
  margin-left: 3px;
  font-size: 12px;
}
.freeBox__y0Bf4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__dx8Zh {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox___1VuyN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__vap28 {
  margin-left: 3px;
  font-size: 12px;
}
.freeBox__x74Xv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__omgnB {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__hDrd6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__q7GIr {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__mlaRk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.popover6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pcls_BQmHwvgfhq8O {
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.2);
  outline: none;
}
.loginButton__eo6EW:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rxlJf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qnQQb {
  white-space: pre-wrap;
  font-size: 14px;
}
.svg__cpezh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ufBOx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___1ZPmb {
  font-weight: 700;
}
.text__dkFbo {
  margin-left: 3px;
  font-size: 12px;
  font-weight: 700;
}
.freeBox__fDvZ1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__eTtvo {
  margin-left: 3px;
  font-size: 12px;
}
.freeBox__ezBX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___3OasC {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__ah7FS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__o3SHg {
  margin-left: 3px;
  font-size: 12px;
}
.freeBox__lbXs2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__fA1L {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.freeBox__xiX3M {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__fVk3I {
  margin-left: 3px;
  font-size: 12px;
  text-decoration-line: line-through;
}
.container8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 1064px;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  margin-left: -303px;
  margin-top: 20px;
  border-radius: 8px;
  padding: 0px;
}
.youTube:global(.__wab_instance) {
  width: 500px;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  flex-shrink: 0;
  min-height: 0;
}
.freeBox__zmaxy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
  padding: 8px;
}
.text__noYdf {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.text___2YqXg {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
.link__ymqLr {
  font-size: 12px;
  text-decoration-line: underline;
  text-align: left;
  width: 100%;
  min-width: 0;
}
.container9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 1064px;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  margin-left: -303px;
  margin-top: 20px;
  border-radius: 8px;
  padding: 0px;
}
.freeBox__jDrgG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 0;
  padding: 0px;
}
.rate:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  text-align: center;
  font-size: 20px;
}
.text__a56G2 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__vWviz {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__vUzex {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__grSni {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__x9C5F {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.freeBox__xiQNu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__wNjXk {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__avPkr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__goazk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 150px;
  height: 110px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
      ellipse 40% 60% at 20% 20%,
      #ce9fff00 0%,
      #ffffff 100%
    )
    0% 0% / 100% 100% repeat;
  flex-shrink: 0;
  border-radius: 70px;
  padding: 8px;
  margin: 8px;
  border: 4px solid #00000017;
}
.text__wXnSw {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 0px;
}
.text__qccY {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: center;
  white-space: pre;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
