.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-bJzOVD9L3UeQ);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-iEkVL3JHqbC-);
  width: var(--token-iEkVL3JHqbC-);
  border-radius: 99px;
  border: 1px solid var(--token-eiYlMv5atlTh);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-eiYlMv5atlTh);
  outline-offset: 1px;
}
