.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-9074UlKQGJHe);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__u5NqU {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-9074UlKQGJHe);
}
.radio__sCgYf:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__fvpzO:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__ydsMz:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
