@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C200%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Open+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800&display=swap");

.plasmic_tokens {
  --token-RgissEiukrq6: #c0c0c0;
  --plasmic-token-unnamed-style-token: var(--token-RgissEiukrq6);
  --token-QAl9Oda-uCSs: #fff0c7cc;
  --plasmic-token-sacred: var(--token-QAl9Oda-uCSs);
  --token-xluOL6N3B2r-: 0.5rem;
  --plasmic-token-size-8: var(--token-xluOL6N3B2r-);
  --token-KIY-cuIkNdk3: #030712;
  --plasmic-token-basic-text-primary: var(--token-KIY-cuIkNdk3);
  --token-ym9ExLy22F5_: Inter;
  --plasmic-token-sans-serif: var(--token-ym9ExLy22F5_);
  --token-CV0tlnWYFyuS: 1rem;
  --plasmic-token-font-md: var(--token-CV0tlnWYFyuS);
  --token-JfWPk3YXGWbZ: 1.25;
  --plasmic-token-line-height-md: var(--token-JfWPk3YXGWbZ);
  --token-iEkVL3JHqbC-: 1.25rem;
  --plasmic-token-size-20: var(--token-iEkVL3JHqbC-);
  --token-UlGEeCWw1_GT: #9ca3af;
  --plasmic-token-basic-ring: var(--token-UlGEeCWw1_GT);
  --token-ewOtdJA9KdEB: 0.125rem;
  --plasmic-token-size-2: var(--token-ewOtdJA9KdEB);
  --token-eiYlMv5atlTh: #2563eb;
  --plasmic-token-brand-brand: var(--token-eiYlMv5atlTh);
  --token-6i8H_lvWSFjW: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-6i8H_lvWSFjW);
  --token-9074UlKQGJHe: 0.25rem;
  --plasmic-token-size-4: var(--token-9074UlKQGJHe);
  --token-E34vInvuPEHW: 2rem;
  --plasmic-token-size-32: var(--token-E34vInvuPEHW);
  --token-tUouLJTtO4Vn: 0.625rem;
  --plasmic-token-size-10: var(--token-tUouLJTtO4Vn);
  --token-Q0zEEgI6pT_W: 0.375rem;
  --plasmic-token-size-6: var(--token-Q0zEEgI6pT_W);
  --token-ymeTzVmoCDyr: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-ymeTzVmoCDyr);
  --token-GNN1c1e0Jaf6: 0.75rem;
  --plasmic-token-font-sm: var(--token-GNN1c1e0Jaf6);
  --token-q8GAPBzMq1IU: 1;
  --plasmic-token-line-height-sm: var(--token-q8GAPBzMq1IU);
  --token-GrHYfGxgODLF: 1.25rem;
  --plasmic-token-font-lg: var(--token-GrHYfGxgODLF);
  --token-6rv8QUkBchyL: 1.4;
  --plasmic-token-line-height-lg: var(--token-6rv8QUkBchyL);
  --token-lr218BAAY08X: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-lr218BAAY08X);
  --token-ld3qaa7GwJUP: #d1d5db;
  --plasmic-token-basic-border: var(--token-ld3qaa7GwJUP);
  --token-caDRrU4v-kwd: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-caDRrU4v-kwd);
  --token-beqgJwRwBNLW: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-beqgJwRwBNLW);
  --token-8lMsBeYLhR3R: #374151;
  --plasmic-token-neutral-neutral: var(--token-8lMsBeYLhR3R);
  --token-TKSawkKUo2D3: #6b7280;
  --plasmic-token-muted-muted: var(--token-TKSawkKUo2D3);
  --token-9rpE4Kc27IE4: #16a34a;
  --plasmic-token-success-success: var(--token-9rpE4Kc27IE4);
  --token-oBrToSPD51Pk: #facc15;
  --plasmic-token-warning-warning: var(--token-oBrToSPD51Pk);
  --token-axcOYY8k1uSv: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-axcOYY8k1uSv);
  --token-d3hjfeF1-rVc: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-d3hjfeF1-rVc);
  --token-KNGai-O3anVR: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-KNGai-O3anVR);
  --token-IAXYap13t0m3: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-IAXYap13t0m3);
  --token-Nepgsj-QDhvL: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-Nepgsj-QDhvL);
  --token-bmHBOQWAu3wV: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-bmHBOQWAu3wV);
  --token-72rswddJE30e: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-72rswddJE30e);
  --token-p0sXkGh2Eq9i: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-p0sXkGh2Eq9i);
  --token-tQC4f0wPe8BH: #86efac;
  --plasmic-token-success-success-border: var(--token-tQC4f0wPe8BH);
  --token-HV2fdwoIyh9q: #fde047;
  --plasmic-token-warning-warning-border: var(--token-HV2fdwoIyh9q);
  --token-v97oj6x2kY10: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-v97oj6x2kY10);
  --token-qRWHdQVgkaqk: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-qRWHdQVgkaqk);
  --token-A9zbcAMT0a-3: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-A9zbcAMT0a-3);
  --token-UOltPlxJXHzi: #00000033;
  --plasmic-token-interaction-pressed: var(--token-UOltPlxJXHzi);
  --token-K0I_pluDx2AD: 0.75rem;
  --plasmic-token-size-12: var(--token-K0I_pluDx2AD);
  --token-NoG0O_6lp0C0: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-NoG0O_6lp0C0);
  --token-J3LzTx_o1fmP: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-J3LzTx_o1fmP);
  --token-OuJQmSq--YiG: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-OuJQmSq--YiG);
  --token-yfqxDTISLBrM: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-yfqxDTISLBrM);
  --token-fuPX0Y1o-bF9: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-fuPX0Y1o-bF9);
  --token-f_UAv2zLEjyX: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-f_UAv2zLEjyX);
  --token-RCo1ZclAUdld: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-RCo1ZclAUdld);
  --token-xsWN-vapNfMw: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-xsWN-vapNfMw);
  --token-LC3vYXVUUYP9: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-LC3vYXVUUYP9);
  --token-P3FkKx1meyUI: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-P3FkKx1meyUI);
  --token-7lX8-RIuxWYJ: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-7lX8-RIuxWYJ
  );
  --token-bJzOVD9L3UeQ: #ffffff;
  --plasmic-token-basic-container-background: var(--token-bJzOVD9L3UeQ);
  --token-Ss3OYau4HzNm: 1rem;
  --plasmic-token-size-16: var(--token-Ss3OYau4HzNm);
  --token-g1trN9VdbZEe: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-g1trN9VdbZEe);
  --token-qJxRVXn7Y9Jn: 1.5rem;
  --plasmic-token-size-24: var(--token-qJxRVXn7Y9Jn);
  --token-lLp1eSWOgZ91: 1240px;
  --plasmic-token-max-width-navbar: var(--token-lLp1eSWOgZ91);
  --token-zzbsRv0J9TDz: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-zzbsRv0J9TDz);
  --token-CjdJaX-lmJtF: 1140px;
  --plasmic-token-content-max-width: var(--token-CjdJaX-lmJtF);
  --token-6BnOcQJggK1O: #ffffff;
  --plasmic-token-white: var(--token-6BnOcQJggK1O);
  --token-N2FMs9N5gb_G: #ffffff;
  --plasmic-token-white-color: var(--token-N2FMs9N5gb_G);
  --token-fspx1Wsg7wrY: #05367e;
  --plasmic-token-blue-dark: var(--token-fspx1Wsg7wrY);
  --token-Zaz6uFxjF0MD: #228b22;
  --plasmic-token-unnamed-style-token-4: var(--token-Zaz6uFxjF0MD);
  --token-QylEKHxwjJJM: #a5e612;
  --plasmic-token-unnamed-style-token-5: var(--token-QylEKHxwjJJM);
  --token-lumfGrWG5dbz: #f2dea9;
  --plasmic-token-unnamed-style-token-2: var(--token-lumfGrWG5dbz);
  --token-T_VIBFeg_PnZ: var(--token-QylEKHxwjJJM);
  --plasmic-token-unnamed-style-token-3: var(--token-T_VIBFeg_PnZ);
  --token-hwBE2qB6HKD2: #654f1e;
  --plasmic-token-unnamed-style-token-6: var(--token-hwBE2qB6HKD2);
  --token-zCMCENjc80l9: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-zCMCENjc80l9);
  --token-KYQW-zl3wqEk: #171717;
  --plasmic-token-basic-container-background-dark: var(--token-KYQW-zl3wqEk);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-QYAFEVm8BAI1_font-family: "Inter", sans-serif;
  --mixin-QYAFEVm8BAI1_font-size: 16px;
  --mixin-QYAFEVm8BAI1_font-weight: 400;
  --mixin-QYAFEVm8BAI1_font-style: normal;
  --mixin-QYAFEVm8BAI1_color: #535353;
  --mixin-QYAFEVm8BAI1_text-align: left;
  --mixin-QYAFEVm8BAI1_text-transform: none;
  --mixin-QYAFEVm8BAI1_line-height: 1.5;
  --mixin-QYAFEVm8BAI1_letter-spacing: normal;
  --mixin-QYAFEVm8BAI1_white-space: pre-wrap;
  --mixin-QYAFEVm8BAI1_user-select: text;
  --mixin-QYAFEVm8BAI1_text-decoration-line: none;
  --mixin-QYAFEVm8BAI1_text-overflow: clip;
  --mixin-CDhz-GaCoCRz_color: #000000;
  --mixin-CDhz-GaCoCRz_font-weight: 700;
  --mixin-CDhz-GaCoCRz_font-size: 64px;
  --mixin-CDhz-GaCoCRz_line-height: 1;
  --mixin-CDhz-GaCoCRz_letter-spacing: -1px;
  --mixin-CDhz-GaCoCRz_white-space: pre-wrap;
  --mixin-EHZIKXHQu-6q_color: #000000;
  --mixin-EHZIKXHQu-6q_font-size: 48px;
  --mixin-EHZIKXHQu-6q_font-weight: 700;
  --mixin-EHZIKXHQu-6q_letter-spacing: -0.5px;
  --mixin-EHZIKXHQu-6q_line-height: 1.1;
  --mixin-EHZIKXHQu-6q_white-space: pre-wrap;
  --mixin-YjxVmYvqTQgB_color: #0070f3;
  --mixin-YjxVmYvqTQgB_white-space: pre-wrap;
  --mixin-f4ZM-oAX06Xc_color: #000000;
  --mixin-f4ZM-oAX06Xc_font-size: 32px;
  --mixin-f4ZM-oAX06Xc_font-weight: 600;
  --mixin-f4ZM-oAX06Xc_line-height: 1.2;
  --mixin-f4ZM-oAX06Xc_white-space: pre-wrap;
  --mixin-mNDu6NYEI0Hz_color: #000000;
  --mixin-mNDu6NYEI0Hz_font-size: 24px;
  --mixin-mNDu6NYEI0Hz_font-weight: 600;
  --mixin-mNDu6NYEI0Hz_line-height: 1.3;
  --mixin-mNDu6NYEI0Hz_white-space: pre-wrap;
  --mixin-QympupaYuMIL_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-QympupaYuMIL_border-bottom-color: #dddddd;
  --mixin-QympupaYuMIL_border-bottom-style: solid;
  --mixin-QympupaYuMIL_border-bottom-width: 1px;
  --mixin-QympupaYuMIL_border-left-color: #dddddd;
  --mixin-QympupaYuMIL_border-left-style: solid;
  --mixin-QympupaYuMIL_border-left-width: 1px;
  --mixin-QympupaYuMIL_border-right-color: #dddddd;
  --mixin-QympupaYuMIL_border-right-style: solid;
  --mixin-QympupaYuMIL_border-right-width: 1px;
  --mixin-QympupaYuMIL_border-top-color: #dddddd;
  --mixin-QympupaYuMIL_border-top-style: solid;
  --mixin-QympupaYuMIL_border-top-width: 1px;
  --mixin-QympupaYuMIL_border-bottom-left-radius: 3px;
  --mixin-QympupaYuMIL_border-bottom-right-radius: 3px;
  --mixin-QympupaYuMIL_border-top-left-radius: 3px;
  --mixin-QympupaYuMIL_border-top-right-radius: 3px;
  --mixin-QympupaYuMIL_font-family: "Inconsolata";
  --mixin-QympupaYuMIL_padding-bottom: 1px;
  --mixin-QympupaYuMIL_padding-left: 4px;
  --mixin-QympupaYuMIL_padding-right: 4px;
  --mixin-QympupaYuMIL_padding-top: 1px;
  --mixin-QympupaYuMIL_white-space: pre-wrap;
  --mixin-W5_uifhfL_4s_border-left-color: #dddddd;
  --mixin-W5_uifhfL_4s_border-left-style: solid;
  --mixin-W5_uifhfL_4s_border-left-width: 3px;
  --mixin-W5_uifhfL_4s_color: #888888;
  --mixin-W5_uifhfL_4s_padding-left: 10px;
  --mixin-W5_uifhfL_4s_white-space: pre-wrap;
  --mixin-h4R9M20gdsD6_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-h4R9M20gdsD6_border-bottom-color: #dddddd;
  --mixin-h4R9M20gdsD6_border-bottom-style: solid;
  --mixin-h4R9M20gdsD6_border-bottom-width: 1px;
  --mixin-h4R9M20gdsD6_border-left-color: #dddddd;
  --mixin-h4R9M20gdsD6_border-left-style: solid;
  --mixin-h4R9M20gdsD6_border-left-width: 1px;
  --mixin-h4R9M20gdsD6_border-right-color: #dddddd;
  --mixin-h4R9M20gdsD6_border-right-style: solid;
  --mixin-h4R9M20gdsD6_border-right-width: 1px;
  --mixin-h4R9M20gdsD6_border-top-color: #dddddd;
  --mixin-h4R9M20gdsD6_border-top-style: solid;
  --mixin-h4R9M20gdsD6_border-top-width: 1px;
  --mixin-h4R9M20gdsD6_border-bottom-left-radius: 3px;
  --mixin-h4R9M20gdsD6_border-bottom-right-radius: 3px;
  --mixin-h4R9M20gdsD6_border-top-left-radius: 3px;
  --mixin-h4R9M20gdsD6_border-top-right-radius: 3px;
  --mixin-h4R9M20gdsD6_font-family: "Inconsolata";
  --mixin-h4R9M20gdsD6_padding-bottom: 3px;
  --mixin-h4R9M20gdsD6_padding-left: 6px;
  --mixin-h4R9M20gdsD6_padding-right: 6px;
  --mixin-h4R9M20gdsD6_padding-top: 3px;
  --mixin-h4R9M20gdsD6_white-space: pre-wrap;
  --mixin-uf7hIAdRve_o_display: flex;
  --mixin-uf7hIAdRve_o_flex-direction: column;
  --mixin-uf7hIAdRve_o_align-items: stretch;
  --mixin-uf7hIAdRve_o_justify-content: flex-start;
  --mixin-uf7hIAdRve_o_list-style-position: outside;
  --mixin-uf7hIAdRve_o_padding-left: 40px;
  --mixin-uf7hIAdRve_o_position: relative;
  --mixin-uf7hIAdRve_o_list-style-type: disc;
  --mixin-uf7hIAdRve_o_white-space: pre-wrap;
  --mixin-Gyluu7FVXB7Q_display: flex;
  --mixin-Gyluu7FVXB7Q_flex-direction: column;
  --mixin-Gyluu7FVXB7Q_align-items: stretch;
  --mixin-Gyluu7FVXB7Q_justify-content: flex-start;
  --mixin-Gyluu7FVXB7Q_list-style-position: outside;
  --mixin-Gyluu7FVXB7Q_padding-left: 40px;
  --mixin-Gyluu7FVXB7Q_position: relative;
  --mixin-Gyluu7FVXB7Q_list-style-type: decimal;
  --mixin-Gyluu7FVXB7Q_white-space: pre-wrap;
  --mixin-CWY0b-Ti5yN9_color: #000000;
  --mixin-CWY0b-Ti5yN9_font-size: 20px;
  --mixin-CWY0b-Ti5yN9_font-weight: 600;
  --mixin-CWY0b-Ti5yN9_line-height: 1.5;
  --mixin-CWY0b-Ti5yN9_white-space: pre-wrap;
  --mixin-Z8hbOa6Sx4-b_color: #000000;
  --mixin-Z8hbOa6Sx4-b_font-size: 16px;
  --mixin-Z8hbOa6Sx4-b_font-weight: 600;
  --mixin-Z8hbOa6Sx4-b_line-height: 1.5;
  --mixin-Z8hbOa6Sx4-b_white-space: pre-wrap;
  --mixin-jA1I6YvYkQy1_color: #3291ff;
  --mixin-jA1I6YvYkQy1_white-space: pre-wrap;
  --mixin-bZd5EHux9Vaf_white-space: pre-wrap;
  --mixin-W_ehJhxPm4Mj_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-kTPvvroCeXlz_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-kTPvvroCeXlz_white-space
  );
  --mixin-ljJ7rPF_T238_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset-2_white-space: var(
    --mixin-ljJ7rPF_T238_white-space
  );
  --mixin-Drxx4fHorZcP_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset-3_white-space: var(
    --mixin-Drxx4fHorZcP_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-QYAFEVm8BAI1_font-family);
  font-size: var(--mixin-QYAFEVm8BAI1_font-size);
  font-weight: var(--mixin-QYAFEVm8BAI1_font-weight);
  font-style: var(--mixin-QYAFEVm8BAI1_font-style);
  color: var(--mixin-QYAFEVm8BAI1_color);
  text-align: var(--mixin-QYAFEVm8BAI1_text-align);
  text-transform: var(--mixin-QYAFEVm8BAI1_text-transform);
  line-height: var(--mixin-QYAFEVm8BAI1_line-height);
  letter-spacing: var(--mixin-QYAFEVm8BAI1_letter-spacing);
  white-space: var(--mixin-QYAFEVm8BAI1_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-CDhz-GaCoCRz_color);
  font-weight: var(--mixin-CDhz-GaCoCRz_font-weight);
  font-size: var(--mixin-CDhz-GaCoCRz_font-size);
  line-height: var(--mixin-CDhz-GaCoCRz_line-height);
  letter-spacing: var(--mixin-CDhz-GaCoCRz_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-EHZIKXHQu-6q_color);
  font-size: var(--mixin-EHZIKXHQu-6q_font-size);
  font-weight: var(--mixin-EHZIKXHQu-6q_font-weight);
  letter-spacing: var(--mixin-EHZIKXHQu-6q_letter-spacing);
  line-height: var(--mixin-EHZIKXHQu-6q_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-YjxVmYvqTQgB_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-f4ZM-oAX06Xc_color);
  font-size: var(--mixin-f4ZM-oAX06Xc_font-size);
  font-weight: var(--mixin-f4ZM-oAX06Xc_font-weight);
  line-height: var(--mixin-f4ZM-oAX06Xc_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-mNDu6NYEI0Hz_color);
  font-size: var(--mixin-mNDu6NYEI0Hz_font-size);
  font-weight: var(--mixin-mNDu6NYEI0Hz_font-weight);
  line-height: var(--mixin-mNDu6NYEI0Hz_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-QympupaYuMIL_font-family);
  border-radius: var(--mixin-QympupaYuMIL_border-top-left-radius)
    var(--mixin-QympupaYuMIL_border-top-right-radius)
    var(--mixin-QympupaYuMIL_border-bottom-right-radius)
    var(--mixin-QympupaYuMIL_border-bottom-left-radius);
  padding: var(--mixin-QympupaYuMIL_padding-top)
    var(--mixin-QympupaYuMIL_padding-right)
    var(--mixin-QympupaYuMIL_padding-bottom)
    var(--mixin-QympupaYuMIL_padding-left);
  border-top: var(--mixin-QympupaYuMIL_border-top-width)
    var(--mixin-QympupaYuMIL_border-top-style)
    var(--mixin-QympupaYuMIL_border-top-color);
  border-right: var(--mixin-QympupaYuMIL_border-right-width)
    var(--mixin-QympupaYuMIL_border-right-style)
    var(--mixin-QympupaYuMIL_border-right-color);
  border-bottom: var(--mixin-QympupaYuMIL_border-bottom-width)
    var(--mixin-QympupaYuMIL_border-bottom-style)
    var(--mixin-QympupaYuMIL_border-bottom-color);
  border-left: var(--mixin-QympupaYuMIL_border-left-width)
    var(--mixin-QympupaYuMIL_border-left-style)
    var(--mixin-QympupaYuMIL_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-W5_uifhfL_4s_color);
  padding-left: var(--mixin-W5_uifhfL_4s_padding-left);
  border-left: var(--mixin-W5_uifhfL_4s_border-left-width)
    var(--mixin-W5_uifhfL_4s_border-left-style)
    var(--mixin-W5_uifhfL_4s_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-h4R9M20gdsD6_font-family);
  border-radius: var(--mixin-h4R9M20gdsD6_border-top-left-radius)
    var(--mixin-h4R9M20gdsD6_border-top-right-radius)
    var(--mixin-h4R9M20gdsD6_border-bottom-right-radius)
    var(--mixin-h4R9M20gdsD6_border-bottom-left-radius);
  padding: var(--mixin-h4R9M20gdsD6_padding-top)
    var(--mixin-h4R9M20gdsD6_padding-right)
    var(--mixin-h4R9M20gdsD6_padding-bottom)
    var(--mixin-h4R9M20gdsD6_padding-left);
  border-top: var(--mixin-h4R9M20gdsD6_border-top-width)
    var(--mixin-h4R9M20gdsD6_border-top-style)
    var(--mixin-h4R9M20gdsD6_border-top-color);
  border-right: var(--mixin-h4R9M20gdsD6_border-right-width)
    var(--mixin-h4R9M20gdsD6_border-right-style)
    var(--mixin-h4R9M20gdsD6_border-right-color);
  border-bottom: var(--mixin-h4R9M20gdsD6_border-bottom-width)
    var(--mixin-h4R9M20gdsD6_border-bottom-style)
    var(--mixin-h4R9M20gdsD6_border-bottom-color);
  border-left: var(--mixin-h4R9M20gdsD6_border-left-width)
    var(--mixin-h4R9M20gdsD6_border-left-style)
    var(--mixin-h4R9M20gdsD6_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-uf7hIAdRve_o_display);
  flex-direction: var(--mixin-uf7hIAdRve_o_flex-direction);
  align-items: var(--mixin-uf7hIAdRve_o_align-items);
  justify-content: var(--mixin-uf7hIAdRve_o_justify-content);
  list-style-position: var(--mixin-uf7hIAdRve_o_list-style-position);
  padding-left: var(--mixin-uf7hIAdRve_o_padding-left);
  position: var(--mixin-uf7hIAdRve_o_position);
  list-style-type: var(--mixin-uf7hIAdRve_o_list-style-type);
  column-gap: var(--mixin-uf7hIAdRve_o_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-Gyluu7FVXB7Q_display);
  flex-direction: var(--mixin-Gyluu7FVXB7Q_flex-direction);
  align-items: var(--mixin-Gyluu7FVXB7Q_align-items);
  justify-content: var(--mixin-Gyluu7FVXB7Q_justify-content);
  list-style-position: var(--mixin-Gyluu7FVXB7Q_list-style-position);
  padding-left: var(--mixin-Gyluu7FVXB7Q_padding-left);
  position: var(--mixin-Gyluu7FVXB7Q_position);
  list-style-type: var(--mixin-Gyluu7FVXB7Q_list-style-type);
  column-gap: var(--mixin-Gyluu7FVXB7Q_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-CWY0b-Ti5yN9_color);
  font-size: var(--mixin-CWY0b-Ti5yN9_font-size);
  font-weight: var(--mixin-CWY0b-Ti5yN9_font-weight);
  line-height: var(--mixin-CWY0b-Ti5yN9_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-Z8hbOa6Sx4-b_color);
  font-size: var(--mixin-Z8hbOa6Sx4-b_font-size);
  font-weight: var(--mixin-Z8hbOa6Sx4-b_font-weight);
  line-height: var(--mixin-Z8hbOa6Sx4-b_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-jA1I6YvYkQy1_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
