.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox___9M5GH {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 12px;
  min-width: 0;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #e7e7e7;
}
.freeBox__mb0Zt {
  display: flex;
  position: relative;
  align-self: flex-start;
}
.freeBoxnoIcon__mb0ZtRmUd {
  display: none;
}
.svg__dkWsC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.freeBox__rdMuV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.h6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h6noHeader {
  display: none;
}
.freeBox__hsZxa {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBoxnoBody__hsZxalFvR {
  display: none;
}
