.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #e7e6e2;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.img {
  object-fit: cover;
  max-width: auto;
  height: 100px;
  width: 700px;
  position: relative;
  left: auto;
  top: auto;
  margin: auto auto 25px;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: relative;
    left: auto;
    top: auto;
    width: 400px;
  }
}
.rectangle {
  display: flex;
  width: 100%;
  height: auto;
  background: #ffffff;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  left: auto;
  top: auto;
  min-height: 700px;
  max-height: 9000px;
  min-width: 0;
  border-radius: 51px;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle {
    margin-bottom: 0px;
    height: auto;
    margin-right: 0px;
    width: 100%;
    left: auto;
    top: auto;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    border-radius: 48px 48px 48px 0px;
    padding: 0px 0px 21px;
  }
}
.stepsStack {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: 100%;
  max-width: 100%;
  background: linear-gradient(90deg, #f2e8cc 0%, #f2dea9 100%);
  border-top-left-radius: 51px;
  border-bottom-left-radius: 51px;
  flex-shrink: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .stepsStack {
    height: auto;
    width: 100%;
    min-width: 0;
    border-radius: 51px 51px 0px 0px;
  }
}
.freeBox__pEj0C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 700px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pEj0C {
    min-height: 0px;
    border-radius: 5px 51px 5px 5px;
  }
}
.section___9F8J {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: linear-gradient(0deg, #f2dea9 0%, #654f1e 100%);
  border-top-left-radius: 51px;
  height: 60px;
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___9F8J > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___9F8J {
    border-top-left-radius: 51px;
    border-top-right-radius: 51px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___9F8J > * {
    grid-column: 4;
  }
}
.svg__kBuL0 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.steps:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 8px;
  font-weight: 400;
  color: #b36161;
  text-decoration-line: none;
  font-style: normal;
  width: 100%;
  text-align: center;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: pre;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  background: none;
  filter: hue-rotate(239deg);
  backdrop-filter: none;
  transform: none;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 0px 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .steps:global(.__wab_instance) {
    white-space: pre-wrap;
    font-size: 6px;
    width: 100%;
    min-width: 0;
  }
}
.section__ne4Dg {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: #ffffff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 51px;
  opacity: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__ne4Dg > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ne4Dg {
    height: auto;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ne4Dg > * {
    grid-column: 4;
  }
}
.basicInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  top: auto;
  left: auto;
  min-height: 700px;
  min-width: 0;
  padding: 100px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .basicInfo {
    left: auto;
    top: auto;
    height: 500px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.text__fi9E {
  width: 100%;
  height: auto;
  max-width: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h6__uSXw8 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6__uSXw8 {
    padding-left: 19px;
  }
}
.freeBox___7H2S4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
}
.companyLogo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: left;
  padding-left: 58px;
  width: auto;
  padding-right: 23px;
}
.button__aOGg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__v7R2L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__kEe5D {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  white-space: pre;
  font-family: "Montserrat", sans-serif;
}
.freeBox___8Zt3L {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8Zt3L {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__qupP {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__qupP {
    position: relative;
    left: auto;
    top: auto;
  }
}
.companyName:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__vaPv7 {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vaPv7 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__n41Sx {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__n41Sx {
    position: relative;
    left: auto;
    top: auto;
  }
}
.companyType:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  align-self: center;
  font-weight: 400;
  color: #ba0000;
  min-width: 0;
  margin: 0px;
}
.text___7Kq8H {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #535353;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.option__izyVw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___2Tqm0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option__ati3H:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zesP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option__mRdji:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___6DdGr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option___7Zqhq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__kMbCo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option__mLu3L:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__iEaD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option__dRruO:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___9GZii {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option__aStuu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__spd13 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option__mGf2Z:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__rkarc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.freeBox___3M2Ea {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3M2Ea {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__pJwG0 {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__pJwG0 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.location:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__wgv8A {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wgv8A {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg___5DzDg {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___5DzDg {
    position: relative;
    left: auto;
    top: auto;
  }
}
.foundationDate:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.loginButton__znZwV:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-end;
  margin-right: 20px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__znZwV:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__gRteG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__heKaq {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__uaPnV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.links {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  top: auto;
  left: auto;
  min-height: 500px;
  min-width: 0;
  padding: 100px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .links {
    left: auto;
    top: auto;
    height: 500px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.text___1Pnjq {
  width: 100%;
  height: auto;
  max-width: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h6__x7T70 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6__x7T70 {
    padding-left: 19px;
  }
}
.freeBox__lEihq {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lEihq {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__nQgzL {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__nQgzL {
    position: relative;
    left: auto;
    top: auto;
  }
}
.linkedIn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__mCrQf {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mCrQf {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__bmIGa {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__bmIGa {
    position: relative;
    left: auto;
    top: auto;
  }
}
.instagram:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox___0YMl2 {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0YMl2 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__k1D1B {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__k1D1B {
    position: relative;
    left: auto;
    top: auto;
  }
}
.website:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__wQerb {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wQerb {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__omFxx {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__omFxx {
    position: relative;
    left: auto;
    top: auto;
  }
}
.x:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__jTwl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: flex-end;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jTwl {
    position: relative;
    top: auto;
    left: auto;
  }
}
.loginButton__blCuA:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  flex-shrink: 0;
}
.svg__rdWpm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__iSkD1 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__aCFl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.loginButton__f24YX:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  margin-left: 20px;
  margin-right: 20px;
  flex-shrink: 0;
}
.svg___1INdg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cgksu {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__zip85 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.companysAreaOfActivity {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  top: auto;
  left: auto;
  min-height: 500px;
  min-width: 0;
  padding: 0px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .companysAreaOfActivity {
    left: auto;
    top: auto;
    height: 500px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.text__tumuA {
  width: 100%;
  height: auto;
  max-width: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h6__ueRfF {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6__ueRfF {
    padding-left: 19px;
  }
}
.freeBox__wg8Bc {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wg8Bc {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__oGr2M {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__oGr2M {
    position: relative;
    left: auto;
    top: auto;
  }
}
.companyTagline:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__btpRe {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__btpRe {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__qqnPp {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__qqnPp {
    position: relative;
    left: auto;
    top: auto;
  }
}
.area:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  align-self: center;
  min-width: 0;
  margin: 0px;
}
.text___3I5UD {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #545454;
  font-weight: 400;
}
.option__rmKQh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fRLR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__wxOdO:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__bfmvw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__vd3Og:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___4RVGq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__t0Q9M:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__d5V78 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__wJDc3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___6EM8P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__c8Yg2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__q69ES {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option___7KCIu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___3RFby {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__bEymh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__umvu1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__wVoWe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__drMk7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__zxoj7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lc5Zt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__uZxcj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__g9CVs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__k9ZI:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zAj9Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.freeBox__wrkrE {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wrkrE {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__z7Uj {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__z7Uj {
    position: relative;
    left: auto;
    top: auto;
  }
}
.subArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  align-self: center;
  min-width: 0;
  margin: 0px;
}
.text__w7Zca {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #545454;
  font-weight: 400;
}
.option__zpNv7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__x7Ah {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__eCyMp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__kngvJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__xhs0J:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__sJf0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__mX2Ec:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__iFa5H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option___8I1L:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__k1ZKp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__bQdvh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fp5IJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__rF1A:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__l62Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option___7TcFq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___6Mdrw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__f2BcA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lxh0D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__lbf6I:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___7WzGd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__pfpdx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xMHmD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__dd1Aq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___5Vuaz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__eLaFf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gwdph {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__qtue1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gjXwU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__q3OK:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__dn5Hk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__lcdNg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hqRwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__iCmpm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__pfWg9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__zrF9I:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__tYFoL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__cDfv9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__d3AhN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__a8WJ9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__yfxTa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__dyJjU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___48Mf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__jmO21:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__uwlwd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__yek0G:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ioVu4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__u4Jhm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ecjnm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__wJgP2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zGyzw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.freeBox__qhPJ {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: flex-start;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qhPJ {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__tFnA {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__tFnA {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__ymw8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.radioGroup2:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  font-size: 2px;
  padding: 0px;
}
.radio__e52T:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lXaZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.radio__n85HM:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ocLhO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.freeBox__bd6R6 {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: flex-start;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bd6R6 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__nliHp {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__nliHp {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__twjTq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.radioGroup3:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  font-size: 2px;
  padding: 0px;
}
.radio__vlcsT:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__deHcr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.radio__o6Er5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wOl0R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.freeBox__iMdi9 {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iMdi9 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__px4Fp {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__px4Fp {
    position: relative;
    left: auto;
    top: auto;
  }
}
.googleCalendar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__l8EL3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: flex-end;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l8EL3 {
    position: relative;
    top: auto;
    left: auto;
  }
}
.loginButton__c0RNh:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  flex-shrink: 0;
}
.svg__eZy9B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__brqK {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___1CIx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.loginButton___8L0L:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  margin-left: 20px;
  margin-right: 20px;
  flex-shrink: 0;
}
.svg__exrp8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hWzCm {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__g3Bjs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.companyNature {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.services {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  top: auto;
  left: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .services {
    left: auto;
    top: auto;
    height: 500px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.text__a8HV {
  width: 100%;
  height: auto;
  max-width: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h6__hSHfi {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6__hSHfi {
    padding-left: 19px;
  }
}
.freeBox__kQPu3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 540px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  align-self: stretch;
  overflow: auto;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  margin: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kQPu3 {
    position: relative;
    top: auto;
    left: auto;
  }
}
.solutions {
  display: flex;
  width: 100%;
  height: 200px;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(0deg, #e7e6e200 0%, #e7e6e217 40%, #f2dea900 100%)
    0% 0% / 100% 100% repeat;
  min-height: 150px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  margin: 8px 0px;
  border: 1px solid #e7e6e2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .solutions {
    background: linear-gradient(0deg, #e7e6e2 0%, #f2dea900 100%) 0% 0% / 100%
      100% repeat;
  }
}
.freeBox___1J7M8 {
  display: flex;
  position: relative;
  width: auto;
  height: 200px;
  max-width: 100%;
  top: auto;
  left: auto;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px;
}
.freeBox___335Z7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  left: auto;
  top: auto;
}
.title:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__zsfts {
  display: flex;
  flex-direction: row;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zsfts {
    position: relative;
    left: auto;
    top: auto;
  }
}
.description:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__lHtXg {
  display: flex;
  flex-direction: row;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lHtXg {
    position: relative;
    left: auto;
    top: auto;
  }
}
.price:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__g3Ao {
  display: flex;
  position: relative;
  width: auto;
  height: 200px;
  max-width: 100%;
  top: auto;
  left: auto;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  padding: 20px;
}
.solutionsSteps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px;
}
.stepText:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__qFpwx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.loginButton__e2M1Q:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 17px;
}
.svg__l2AIg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__g0Thy {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.svg__afNcp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.loginButton___61KK7:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vC5J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jCh96 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.svg___1Pqz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__jEgG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.loginButton__z1QN:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 17px;
}
.svg___3KR6U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__aWqgj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.loginButton__v9Qpb:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ffnRk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__v2Y0Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___17FqK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: flex-end;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___17FqK {
    position: relative;
    top: auto;
    left: auto;
  }
}
.loginButton__fRT:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  flex-shrink: 0;
}
.svg__guMag {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4QGMi {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__bdUsk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.loginButton__gsg0L:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  margin-left: 20px;
  margin-right: 20px;
  flex-shrink: 0;
}
.svg__byr22 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wQtLz {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___9OvLx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.about {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  top: auto;
  left: auto;
  min-height: 500px;
  min-width: 0;
  padding: 50px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .about {
    left: auto;
    top: auto;
    height: 500px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.text___3We7M {
  width: 100%;
  height: auto;
  max-width: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h6__xRyC {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6__xRyC {
    padding-left: 19px;
  }
}
.freeBox__b0Whj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
}
.companyImage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: left;
  padding-left: 58px;
  width: auto;
  padding-right: 23px;
}
.button__sbVvU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__oEt0X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__grwJ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  white-space: pre;
  font-family: "Montserrat", sans-serif;
}
.freeBox__dPyLz {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dPyLz {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg___4DitN {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___4DitN {
    position: relative;
    left: auto;
    top: auto;
  }
}
.customerProblem:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qzLl2 {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qzLl2 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg___5Mgc6 {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___5Mgc6 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.solutionDescription:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__oev8Q {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oev8Q {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg___5WmCa {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___5WmCa {
    position: relative;
    left: auto;
    top: auto;
  }
}
.whyShouldTheyChoose:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__msrG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: flex-end;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__msrG {
    position: relative;
    top: auto;
    left: auto;
  }
}
.loginButton___9Wb3A:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  flex-shrink: 0;
}
.svg__esxWb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__iWhIv {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__djLf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.done:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  margin-left: 20px;
  margin-right: 20px;
  flex-shrink: 0;
}
.svg__eXCh9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ylk8 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__iqTMu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
