.ariaCheckbox:global(.__wab_instance) {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-KIY-cuIkNdk3);
  font-family: var(--token-ym9ExLy22F5_);
  font-size: var(--token-CV0tlnWYFyuS);
  line-height: var(--token-JfWPk3YXGWbZ);
  width: 100%;
  column-gap: var(--token-xluOL6N3B2r-);
  min-width: 0;
}
.ariaCheckbox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaCheckbox[data-readonly]:global(.__wab_instance) {
  cursor: default;
  pointer-events: none;
}
.freeBox {
  position: relative;
  width: var(--token-iEkVL3JHqbC-);
  height: var(--token-iEkVL3JHqbC-);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-ewOtdJA9KdEB);
  border: 2px solid var(--token-UlGEeCWw1_GT);
}
.ariaCheckbox[data-focus-visible] .freeBox {
  outline-style: solid;
  outline-color: var(--token-eiYlMv5atlTh);
  outline-offset: 1px;
  outline-width: 2px;
}
.ariaCheckbox[data-indeterminate] .freeBox {
  background: var(--token-eiYlMv5atlTh);
  border-color: var(--token-eiYlMv5atlTh);
}
.ariaCheckbox[data-selected] .freeBox {
  background: var(--token-eiYlMv5atlTh);
  border-color: var(--token-eiYlMv5atlTh);
}
.svg__iRkHc {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
  display: none;
}
.ariaCheckbox[data-selected] .svg__iRkHc {
  display: block;
}
.svg__fvf2Y {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
  display: none;
}
.ariaCheckbox[data-indeterminate] .svg__fvf2Y {
  display: block;
}
