.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  height: 100%;
  column-gap: 16px;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.freeBox__yrVW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--token-lLp1eSWOgZ91);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yrVW {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    align-items: center;
    justify-content: center;
    column-gap: 0px;
  }
}
.logo2:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
}
.freeBox__vy1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  align-self: center;
  column-gap: 26px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vy1 {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.link__oHsXj {
  font-weight: 600;
  color: #000000;
  line-height: 19.5;
  font-size: 16px;
}
.link__mgYy4 {
  font-weight: 600;
  color: #00000080;
  line-height: 19.5;
  font-size: 16px;
}
.link__vxIoh {
  font-weight: 600;
  color: #00000080;
  line-height: 19.5;
  font-size: 16px;
}
.freeBox__pSCxs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pSCxs {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    column-gap: 8px;
    row-gap: 0px;
    min-width: 0;
  }
}
.link__evFJg {
  color: #00000080;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__evFJg {
    line-height: var(--token-6rv8QUkBchyL);
  }
}
.button5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg {
  position: relative;
  height: 1em;
}
.text {
  white-space: pre;
  padding-right: 0px;
  font-size: 18px;
}
.svg__aPrGa {
  position: relative;
  height: 1em;
}
