.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__uze3I {
  position: relative;
  mix-blend-mode: normal;
  height: 1080px;
  width: 100%;
  background:
    linear-gradient(
      99deg,
      #f2dea9a1 0%,
      #f2dea9a1 11%,
      #654f1ecc 35%,
      #ad9d78 39%,
      #654f1ef7 52%,
      #f2dea9c9 100%
    ),
    url("/plasmic/ez_marketing_platform/images/bgTentativa7Svg2.svg") top 50% left 50% / cover repeat;
  align-items: center;
  flex-direction: column;
  display: flex;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 64px 64px;
}
.freeBox___8SPzW {
  display: block;
  position: relative;
  height: 300px;
  width: 600px;
  background: url("/plasmic/ez_marketing_platform/images/image2Png.png") left 50% top 50% / cover;
  transition-property: opacity;
  transition-duration: 3s;
  flex-shrink: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 3s;
  border-radius: 0px 0px 300px 300px;
}
.freeBox__rgCc {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  margin-top: 31px;
  row-gap: 16px;
  flex-shrink: 0;
}
.text__dIdW {
  height: auto;
  color: #ffffffd9;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 7px;
  text-align: center;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.1;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
.text__lwwX3 {
  font-size: 20px;
  color: #000000;
  text-align: center;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  letter-spacing: 2px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: none;
  max-height: none;
  width: 400px;
  filter: none;
  object-position: left 50%;
  align-self: center;
  height: 50px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
  object-position: left 50%;
}
.freeBox___3VaIj {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
}
.link {
  color: #ffffffd9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
