.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-ld3qaa7GwJUP);
  font-size: var(--token-CV0tlnWYFyuS);
  line-height: var(--token-JfWPk3YXGWbZ);
  width: 100%;
  color: var(--token-KIY-cuIkNdk3);
  font-family: var(--token-ym9ExLy22F5_);
  min-width: 0;
  border-radius: var(--token-Q0zEEgI6pT_W);
  padding: var(--token-Q0zEEgI6pT_W) var(--token-tUouLJTtO4Vn);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-eiYlMv5atlTh);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-caDRrU4v-kwd);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-beqgJwRwBNLW);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-caDRrU4v-kwd);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-E34vInvuPEHW);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-E34vInvuPEHW);
}
