.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #e7e6e2;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.img {
  object-fit: cover;
  max-width: auto;
  height: 100px;
  width: 700px;
  position: relative;
  left: auto;
  top: auto;
  margin: auto auto 25px;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: relative;
    left: auto;
    top: auto;
    width: 400px;
  }
}
.rectangle {
  display: flex;
  width: 100%;
  height: auto;
  background: #ffffff;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  left: auto;
  top: auto;
  min-height: 700px;
  max-height: 9000px;
  min-width: 0;
  border-radius: 51px;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle {
    margin-bottom: 0px;
    height: auto;
    margin-right: 0px;
    width: 100%;
    left: auto;
    top: auto;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    border-radius: 48px 48px 48px 0px;
    padding: 0px 0px 21px;
  }
}
.stepsStack {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: 100%;
  max-width: 100%;
  background: linear-gradient(90deg, #f2e8cc 0%, #f2dea9 100%);
  border-top-left-radius: 51px;
  border-bottom-left-radius: 51px;
  flex-shrink: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .stepsStack {
    height: auto;
    width: 100%;
    min-width: 0;
    border-radius: 51px 51px 0px 0px;
  }
}
.freeBox__gm1DA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 700px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gm1DA {
    min-height: 0px;
    border-radius: 5px 51px 5px 5px;
  }
}
.section__zxZCb {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: linear-gradient(0deg, #f2dea9 0%, #654f1e 100%);
  border-top-left-radius: 51px;
  height: 60px;
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__zxZCb > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__zxZCb {
    border-top-left-radius: 51px;
    border-top-right-radius: 51px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__zxZCb > * {
    grid-column: 4;
  }
}
.svg___1NcJd {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.steps:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 8px;
  font-weight: 400;
  color: #b36161;
  text-decoration-line: none;
  font-style: normal;
  width: 100%;
  text-align: center;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: pre;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  background: none;
  filter: hue-rotate(239deg);
  backdrop-filter: none;
  transform: none;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  cursor: wait;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 0px 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .steps:global(.__wab_instance) {
    white-space: pre-wrap;
    font-size: 6px;
    width: 100%;
    min-width: 0;
  }
}
.section__j1YJh {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: #ffffff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 51px;
  opacity: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__j1YJh > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__j1YJh {
    height: auto;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__j1YJh > * {
    grid-column: 4;
  }
}
.basicInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  top: auto;
  left: auto;
  min-height: 700px;
  min-width: 0;
  padding: 100px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .basicInfo {
    left: auto;
    top: auto;
    height: 500px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.text__xJgo8 {
  width: 100%;
  height: auto;
  max-width: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h6__iVxvv {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6__iVxvv {
    padding-left: 19px;
  }
}
.freeBox__oGhdP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
}
.profilePic:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: left;
  padding-left: 58px;
  width: auto;
  padding-right: 23px;
}
.button__krzF:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vOvc5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__jhbve {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  white-space: pre;
  font-family: "Montserrat", sans-serif;
}
.freeBox__ghb8S {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ghb8S {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__zhIRj {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__zhIRj {
    position: relative;
    left: auto;
    top: auto;
  }
}
.firstName:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__bulpy {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bulpy {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__lzOor {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__lzOor {
    position: relative;
    left: auto;
    top: auto;
  }
}
.lastName:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__seSp {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__seSp {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg___0Lt8S {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___0Lt8S {
    position: relative;
    left: auto;
    top: auto;
  }
}
.location:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__jSsEz {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jSsEz {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__y7FRr {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__y7FRr {
    position: relative;
    left: auto;
    top: auto;
  }
}
.birthday:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.loginButton__egK:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-end;
  margin-right: 20px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__egK:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__jqg6S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qiqVx {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__mio3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.links {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  top: auto;
  left: auto;
  min-height: 500px;
  min-width: 0;
  padding: 100px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .links {
    left: auto;
    top: auto;
    height: 500px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.text__lP2Zm {
  width: 100%;
  height: auto;
  max-width: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h6___5MdGe {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6___5MdGe {
    padding-left: 19px;
  }
}
.freeBox__orGFj {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__orGFj {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__vlXTh {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__vlXTh {
    position: relative;
    left: auto;
    top: auto;
  }
}
.linkedIn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__fq4O4 {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fq4O4 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__qjOOe {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__qjOOe {
    position: relative;
    left: auto;
    top: auto;
  }
}
.instagram:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox___7Un7H {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Un7H {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__sCWpW {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__sCWpW {
    position: relative;
    left: auto;
    top: auto;
  }
}
.x:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__lojov {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: flex-end;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lojov {
    position: relative;
    top: auto;
    left: auto;
  }
}
.loginButton__sAsU1:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  flex-shrink: 0;
}
.svg___5WLi9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ah3U2 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__t6Q2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.loginButton__rJ0:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  margin-left: 20px;
  margin-right: 20px;
  flex-shrink: 0;
}
.svg__iJxAc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__aGr {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__okltz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.education2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  top: auto;
  left: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .education2 {
    left: auto;
    top: auto;
    height: 500px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.text___9VqUh {
  width: 100%;
  height: auto;
  max-width: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h6__jI6U {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6__jI6U {
    padding-left: 19px;
  }
}
.freeBox__uGnnr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 540px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  align-self: stretch;
  overflow: auto;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  margin: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uGnnr {
    position: relative;
    top: auto;
    left: auto;
  }
}
.education {
  display: flex;
  width: 100%;
  height: 200px;
  max-width: 100%;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(0deg, #f2dea900 10%, #f2dea91a 31%, #f2dea900 78%)
    0% 0% / 100% 100% repeat;
  min-height: 200px;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
  margin: 8px 0px;
  border: 1px solid #f2dea9;
}
@media (min-width: 0px) and (max-width: 768px) {
  .education {
    background: linear-gradient(0deg, #e7e6e2 0%, #f2dea900 100%) 0% 0% / 100%
      100% repeat;
  }
}
.freeBox__xLXaw {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  left: auto;
  top: auto;
}
.svg__zJt2A {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__zJt2A {
    position: relative;
    left: auto;
    top: auto;
  }
}
.university:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__iuKVm {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iuKVm {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__lgWkj {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__lgWkj {
    position: relative;
    left: auto;
    top: auto;
  }
}
.major:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__gG67 {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gG67 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__y8Bnj {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__y8Bnj {
    position: relative;
    left: auto;
    top: auto;
  }
}
.graduationYear:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__xmRKs {
  animation: none;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xmRKs {
    animation: none;
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__bMlzI {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__bMlzI {
    position: relative;
    left: auto;
    top: auto;
  }
}
.educationLevel:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  align-self: center;
  font-weight: 400;
  color: #ba0000;
  min-width: 0;
  margin: 0px;
}
.text__swNhe {
  animation: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #535353;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.option__qjf:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text___1Qp3 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option__aRPwj:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text___1VO28 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option__zvFc6:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__t3OaC {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option___9D8On:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__evTs {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option__npOu:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__p4Qs3 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option___5F5Ae:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__orwHr {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option__b4JjQ:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__i7NnA {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option__dQ9Z:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__vieEa {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.option__xcKv:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text___7Ufeq {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.freeBox__p1Gv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
}
.degree:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: left;
  padding-left: 58px;
  width: auto;
  padding-right: 23px;
}
.button__uuBym:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cfBEo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__qpbh1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  white-space: pre;
  font-family: "Montserrat", sans-serif;
}
.freeBox__dMow7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.loginButton___5Y8SR:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 17px;
}
.svg__iPuhB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__kObxI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.loginButton__usSz:global(.__wab_instance) {
  max-width: 100%;
}
.svg__gOc6Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2YpOd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__axGsw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: flex-end;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__axGsw {
    position: relative;
    top: auto;
    left: auto;
  }
}
.loginButton__k9Jt7:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  flex-shrink: 0;
}
.svg__op7Iz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__usOi {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__l4Ub {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.loginButton___84I6Z:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  margin-left: 20px;
  margin-right: 20px;
  flex-shrink: 0;
}
.svg__re1Nv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__orZo {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___80KmS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.experience {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  top: auto;
  left: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .experience {
    left: auto;
    top: auto;
    height: 500px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.text__iikOx {
  width: 100%;
  height: auto;
  max-width: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h6__i7Anz {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6__i7Anz {
    padding-left: 19px;
  }
}
.freeBox___1QWw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 540px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  align-self: stretch;
  overflow: auto;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  margin: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1QWw {
    position: relative;
    top: auto;
    left: auto;
  }
}
.job {
  display: flex;
  width: 100%;
  height: 160px;
  max-width: 100%;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(0deg, #e7e6e200 0%, #e7e6e233 40%, #f2dea900 100%)
    0% 0% / 100% 100% repeat;
  min-height: 150px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 8px 0px;
  border: 1px solid #e7e6e2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .job {
    background: linear-gradient(0deg, #e7e6e2 0%, #f2dea900 100%) 0% 0% / 100%
      100% repeat;
  }
}
.freeBox__wcK9J {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  left: auto;
  top: auto;
}
.svg__psfaA {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__psfaA {
    position: relative;
    left: auto;
    top: auto;
  }
}
.charge:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox___4Pv7I {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Pv7I {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__t68H8 {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__t68H8 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.company:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox___0D0AG {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0D0AG {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__bl5E {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__bl5E {
    position: relative;
    left: auto;
    top: auto;
  }
}
.howLongInOffice:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.freeBox__h7XwN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.loginButton__lKbYs:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 17px;
}
.svg__ph6Oa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ypnIq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.loginButton__t5Oc1:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rilMb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__x6X6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__sEoY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: flex-end;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sEoY {
    position: relative;
    top: auto;
    left: auto;
  }
}
.loginButton__ckYb:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  flex-shrink: 0;
}
.svg__hQxVx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jQYrP {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__bsevu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.loginButton__smhol:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  margin-left: 20px;
  margin-right: 20px;
  flex-shrink: 0;
}
.svg___4Oi74 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__kgEf {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__idd4D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.skills {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  top: auto;
  left: auto;
  min-height: 500px;
  min-width: 0;
  padding: 100px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .skills {
    left: auto;
    top: auto;
    height: 500px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.text__i6Xr3 {
  width: 100%;
  height: auto;
  max-width: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h6__zMxZl {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6__zMxZl {
    padding-left: 19px;
  }
}
.office:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 460px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  align-self: center;
  margin-left: 29px;
}
.text__dWo2G {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
}
.option__emHlh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__u2A9C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option___8Lqdl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wn8V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__esN4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vc7U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__xs2Mu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ka9A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__eNSsz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__u3JcN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option___0MHqu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__guaiu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__ytyrg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__pIppg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__oPwDy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nwBaw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option___1F1Rr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jIo9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__s992A:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hDaUd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__nvUnP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__m5Bj5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option___7Xl45:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__l93B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__grq09:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__h1CyM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__m1Avi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fYoyG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option___2UaRy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jnkbb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__h3BcP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gbdzW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__hnMnF:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hBtk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option___354MB:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fooO9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option___8Kfkb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__tmXHf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__sfcuu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cua4X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__oTnWj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__yEdRn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__uExkv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___8G98J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__xBsIo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___3NrWm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__hqYnv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xHvew {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.option__o6Guv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__qdvcx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.freeBox__z39Uo {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z39Uo {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__y34Ck {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__y34Ck {
    position: relative;
    left: auto;
    top: auto;
  }
}
.impressive:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__tqpI3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: flex-end;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tqpI3 {
    position: relative;
    top: auto;
    left: auto;
  }
}
.loginButton__ml3Xr:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  flex-shrink: 0;
}
.svg__vGFwr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__oxDvs {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ylrfp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.done:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 37px;
  margin-left: 20px;
  margin-right: 20px;
  flex-shrink: 0;
}
.svg___1TfPb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ujqSp {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__pv1NK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
