.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #d9d9d9;
  align-content: center;
  justify-items: center;
  cursor: auto;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.img {
  object-fit: cover;
  max-width: auto;
  height: 100px;
  width: 700px;
  position: relative;
  left: auto;
  top: auto;
  margin: auto auto 25px;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: relative;
    left: auto;
    top: auto;
    width: 400px;
  }
}
.rectangle {
  display: flex;
  width: 100%;
  height: 547px;
  background: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  border-radius: 51px;
  padding: 100px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle {
    margin-bottom: 0px;
    height: 500px;
    margin-right: 0px;
    width: 375px;
    border-radius: 48px;
    padding: 48px;
  }
}
.text__ibHpF {
  animation: none;
  position: relative;
  width: 608px;
  height: auto;
  max-width: 70%;
  color: #000000;
  left: auto;
  top: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h6 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__oqAeD {
  animation: none;
  width: auto;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  flex-shrink: 0;
}
.link {
  font-size: 14px;
  color: #000000;
  text-decoration-line: underline;
  font-weight: 600;
  padding-left: 4px;
  cursor: pointer;
}
.root .link:hover {
  color: #a5e612;
}
.root .link:active {
  color: #228b22;
  cursor: pointer;
}
