.ariaRangeSlider:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--token-KIY-cuIkNdk3);
  font-family: var(--token-ym9ExLy22F5_);
  font-size: var(--token-CV0tlnWYFyuS);
  line-height: var(--token-JfWPk3YXGWbZ);
  min-width: 200px;
  row-gap: var(--token-K0I_pluDx2AD);
}
.ariaRangeSlider[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__p1L4F {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  column-gap: var(--token-xluOL6N3B2r-);
}
.text__gj7Kx {
  position: relative;
}
.text {
  position: relative;
}
.freeBox__zc7Xm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-Q0zEEgI6pT_W);
  padding-bottom: var(--token-Q0zEEgI6pT_W);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-zCMCENjc80l9);
  height: var(--token-xluOL6N3B2r-);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-xluOL6N3B2r-);
  width: 100%;
  min-width: 0;
}
.sliderThumb__z5DOk:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-9074UlKQGJHe);
}
.foreground {
  display: block;
  background: var(--token-eiYlMv5atlTh);
  height: var(--token-xluOL6N3B2r-);
  border-radius: 99px 0rem 0rem 99px;
}
.description2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
