.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-KIY-cuIkNdk3);
  font-family: var(--token-ym9ExLy22F5_);
  font-size: var(--token-CV0tlnWYFyuS);
  line-height: var(--token-JfWPk3YXGWbZ);
  width: 100%;
  column-gap: var(--token-xluOL6N3B2r-);
  min-width: 0;
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__esmhj {
  display: flex;
  position: relative;
  width: var(--token-iEkVL3JHqbC-);
  height: var(--token-iEkVL3JHqbC-);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-UlGEeCWw1_GT);
}
.ariaRadio[data-selected] .freeBox__esmhj {
  background: var(--token-eiYlMv5atlTh);
  border-color: var(--token-eiYlMv5atlTh);
}
.ariaRadio[data-focus-visible] .freeBox__esmhj {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-eiYlMv5atlTh);
  outline-width: 2px;
}
.freeBox___3XXtR {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox___3XXtR {
  width: var(--token-Q0zEEgI6pT_W);
  height: var(--token-Q0zEEgI6pT_W);
  flex-shrink: 0;
  display: block;
}
