.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  background: #e7e6e2;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  background: #ffffff;
  column-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 229px;
  border-bottom: 1px solid #53535333;
}
@media (min-width: 0px) and (max-width: 768px) {
  .topBar {
    margin-bottom: 0px;
    padding: 0px;
  }
}
.freeBox__d8L0H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d8L0H {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.freeBox__uPkA2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 982px;
  height: 40px;
  column-gap: 8px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uPkA2 {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 982px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  padding: 16px;
}
.link__mtv6M {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.img__sgGpN {
  object-fit: cover;
  height: 30px;
  object-position: 100% 100%;
  position: absolute;
  left: 0px;
  top: 5px;
}
.img__sgGpN > picture > img {
  object-fit: cover;
  object-position: 100% 100%;
}
.img___0JXjN {
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}
.img___0JXjN > picture > img {
  object-fit: cover;
}
.img___1Ywzq {
  object-fit: cover;
}
.img___1Ywzq > picture > img {
  object-fit: cover;
}
.link___3A9Qg {
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 520px;
  top: 0px;
  text-align: center;
  font-size: 11px;
  color: #545454;
  text-transform: capitalize;
  white-space: pre-wrap;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
}
.link__bmQyg {
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 602px;
  top: 0px;
  font-size: 11px;
  text-align: center;
  color: #545454;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
}
.link__m9EIp {
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 692px;
  top: 0px;
  font-size: 11px;
  text-align: center;
  color: #545454;
  cursor: not-allowed;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
}
.link__rWtNk {
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 782px;
  top: 0px;
  font-size: 11px;
  text-align: center;
  color: #228b22;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 0px solid #228b2266;
  border-bottom: 2px solid #228b2266;
}
.account:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 30px;
  height: 30px;
  padding-left: 0px;
  margin-left: 4px;
  font-size: 12px;
  color: #cb1717;
  box-shadow: none;
  font-weight: 300;
  position: absolute;
  left: 924px;
  top: 4px;
  flex-shrink: 0;
}
.menuItem___3EjxZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___9Ug0G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.menuItem___8OocV:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___3MQmo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  cursor: default;
  border-width: 0px;
}
.img__rN9T6 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 11px;
}
.img__rN9T6 > picture > img {
  object-fit: cover;
}
.container3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  left: auto;
  top: auto;
  justify-self: center;
  min-width: 1064px;
  margin-top: 31px;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #53535333;
}
.freeBox__uyog {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 8px;
}
.communityLogo {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 100px;
  width: 100px;
  object-position: 50% 50%;
  flex-shrink: 0;
  border-radius: 300px;
  border-width: 1px;
}
.communityLogo > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.type {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 62px;
  margin-top: -48px;
  margin-left: 0px;
  color: #545454;
  flex-shrink: 0;
}
.communityName {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox___0SJmh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__dhR4V {
  width: 150px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(270deg, #e5d19c 0%, #988250 100%) 0% 0% / 100%
    100% repeat;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  padding: 0px 0px 0px 10px;
}
.sliderCarousel2:global(.__wab_instance) {
  animation: none;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__tB60P {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.member {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 150px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
}
.office {
  animation: none;
  position: relative;
  width: 100px;
  height: 35px;
  max-width: 100%;
  transform: rotate3d(0, 0, 1, -90deg);
  left: auto;
  top: auto;
  padding-left: 10px;
  font-size: 11px;
  color: #fafafa;
  background: #000000cc;
  align-self: auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  flex-shrink: 0;
}
.profilePic {
  animation: none;
  object-fit: contain;
  max-width: 100%;
  width: 120px;
  height: 150px;
  margin-right: -60px;
  margin-left: -48px;
  flex-shrink: 0;
  border-width: 1px;
}
.profilePic > picture > img {
  object-fit: contain;
}
.text__qrjTk {
  animation: none;
  width: 60px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(270deg, #e5d19c 0%, #988250 100%) 0% 0% / 100%
    100% repeat;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  align-self: auto;
  position: relative;
  left: auto;
  top: auto;
  margin-top: -131px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  flex-shrink: 0;
}
.freeBox__tl9Ye {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 1064px;
  margin-top: 31px;
  padding: 0px;
}
.text__yQdlU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 3px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__xcjm8 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 31px;
  padding: 0px;
}
.freeBox__py3R {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  max-width: 350px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  border: 1px solid #53535333;
}
.svg__rpXh {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 150px;
  color: var(--token-T_VIBFeg_PnZ);
  box-shadow: none;
  flex-shrink: 0;
}
.text__iAJjB {
  animation: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.text__il87Y {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.modal6:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  z-index: 9999;
}
.rating:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-QylEKHxwjJJM);
  box-shadow: none;
  font-size: 30px;
  padding: 8px;
}
.text__tKjp3 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__g5Hwg {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__jI2En {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__cOFle {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__hhQg {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.h3 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-style: normal;
  color: #000000;
  text-align: left;
  line-height: 1.2;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-size: var(--token-GrHYfGxgODLF);
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.freeBox__dv97 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-K0I_pluDx2AD);
}
.text__yup1 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.comment:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__aTvUr {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.confirmRate:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
}
.svg__iy1W1 {
  position: relative;
  height: 1em;
}
.text__o5Yu9 {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__tBigW {
  position: relative;
  height: 1em;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
}
.svg___34UPy {
  position: relative;
  height: 1em;
}
.text___6Tv6U {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__nj64U {
  position: relative;
  height: 1em;
}
.freeBox__swJr4 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  max-width: 350px;
  max-height: 300px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  border: 1px solid #53535333;
}
.svg__sOPdj {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 100px;
  color: var(--token-hwBE2qB6HKD2);
  box-shadow: none;
  flex-shrink: 0;
}
.text__tse43 {
  animation: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.text__qkYqU {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.agencysRate:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.text__lVeVe {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__rpabw {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__qiTfl {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__lblpc {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__fhp4Z {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.rateSum {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___23Rw {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 350px;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  max-height: 300px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  border: 1px solid #53535333;
}
.svg__fhSjt {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 100px;
  color: var(--token-Zaz6uFxjF0MD);
  box-shadow: none;
  flex-shrink: 0;
}
.text___5O7Mu {
  animation: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.text__dLsZ {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.averageCustomerRate:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-Zaz6uFxjF0MD);
  padding: 8px;
}
.text__iWv1J {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__fd9Sy {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__tBpXq {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__hCReI {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__cuIvq {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.rateSum2 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__lD24B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  min-width: 1064px;
  max-height: 300px;
  overflow: auto;
  padding: 0px;
  margin: 31px;
}
.freeBox__llmaV {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__mvchj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  min-width: 0;
  padding: 8px;
}
.freeBox__ow04D {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__yaal {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 148px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  min-width: 0;
  padding: 0px;
}
.text__knoFe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 148px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  min-width: 0;
  padding: 0px;
}
.text__oj16B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 148px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  min-width: 0;
  padding: 0px;
}
.freeBox__fbxg6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
  margin: 8px 0px;
}
.text__qqEwv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  min-width: 0;
  padding: 8px;
}
.freeBox__iocF2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.rate7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.rate8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.rate9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.freeBox__mWu8D {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
  margin: 8px 0px;
}
.text__mR3O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  min-width: 0;
  padding: 8px;
}
.freeBox__mCJuk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.rate10:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.rate11:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.rate12:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.freeBox__y88Z7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
  margin: 8px 0px;
}
.text__i8QfZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  min-width: 0;
  padding: 8px;
}
.freeBox__fBbfr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.rate13:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.rate14:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.rate15:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.freeBox__ewtkM {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
  margin: 8px 0px;
}
.text__zueUh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  min-width: 0;
  padding: 8px;
}
.freeBox__encWl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.rate16:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.rate17:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.rate18:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.freeBox__j2Z5P {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
  margin: 8px 0px;
}
.text__bn28D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  min-width: 0;
  padding: 8px;
}
.freeBox__qXMmZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.rate19:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.rate20:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.rate21:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.freeBox__xKdHm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
  margin: 8px 0px;
}
.text__ce1So {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  min-width: 0;
  padding: 8px;
}
.freeBox__vLl9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.rate22:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.rate23:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.rate24:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
