.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  row-gap: 0px;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
.freeBox___0GKzX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform: skew(0deg, 0deg);
  transition-property: all;
  transition-duration: 0.5s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  padding: 0px;
}
.root .freeBox___0GKzX:hover {
  transform: none;
}
.img__mmaNm {
  object-fit: cover;
  max-width: 100%;
  height: 250px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.img__mmaNm > picture > img {
  object-fit: cover;
}
.freeBox__t7B2T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  row-gap: 12px;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.5s;
  padding: 20px;
}
.root .freeBox__t7B2T:hover {
  transform: translate3d(0px, -20px, 0px);
}
.text__oAyNn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #313131;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 21px;
  padding-top: 0px;
  margin-bottom: 8px;
  min-width: 0;
}
.freeBox__vcMtp {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  margin-left: -17px;
  column-gap: 3px;
  min-width: 0;
}
.freeBox__pqp5O {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 0px;
  padding: 0px;
}
.svg___4VOsf {
  object-fit: cover;
  width: 33px;
  height: 28px;
  color: var(--token-fspx1Wsg7wrY);
  align-self: flex-start;
  flex-shrink: 0;
}
.freeBox___6N1Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__aKj0O {
  height: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  align-self: center;
  color: #5e5e5e;
}
.freeBox__rdIge {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 9px 0px 0px;
}
.text___14Pyo {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: var(--token-fspx1Wsg7wrY);
}
