.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #d9d9d9;
  align-content: center;
  justify-items: center;
  cursor: auto;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.img {
  object-fit: cover;
  max-width: auto;
  height: 100px;
  width: 700px;
  position: relative;
  left: auto;
  top: auto;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: relative;
    left: auto;
    top: auto;
    width: 400px;
  }
}
.rectangle {
  display: flex;
  width: 100%;
  height: 547px;
  background: #ffffff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  border-radius: 51px;
  padding: 64px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle {
    margin-bottom: 0px;
    height: 500px;
    margin-right: 0px;
    width: 375px;
    border-radius: 48px;
    padding: 24px;
  }
}
.solution {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .solution {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__e7R2R {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.freeBox___9DgVk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__aotBy {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox___6EMvB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6EMvB {
    padding: 0px;
  }
}
.text__eTkoD {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__stcTz {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__yf8X5 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__pdq01 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox__n4GA5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text__zkavq {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text__uew9S {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text___0Ogt6 {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  flex-shrink: 0;
  margin: 2px;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.comeToAddress {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__mrAtl {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  text-align: center;
  flex-shrink: 0;
}
.freeBox__sKj9E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__dUhW {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__fZbLv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}
.text___5NhzQ {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  white-space: pre-wrap;
}
.text___0OmR7 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.freeBox___0ZnmM {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0ZnmM {
    position: relative;
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.svg__trrA {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__trrA {
    position: relative;
    left: auto;
    top: auto;
  }
}
.slotTargetEMailInput2 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.input___7EEsM:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.schedule:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__jxueR:global(.__wab_instance) {
  max-width: 100%;
  width: 248px;
  height: 37px;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__jxueR:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__ysQeX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__fr2Fk {
  text-align: center;
}
.svg__dehmu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__a6PVo {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.freeBox__vF8G4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-K0I_pluDx2AD);
}
.timePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___1Pz5R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg___1ShKz {
  position: relative;
  height: 1em;
}
.text__iMnB3 {
  padding-left: 0px;
  font-size: 14px;
}
.svg__vipof {
  position: relative;
  height: 1em;
}
._continue:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__utt7K:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__utt7K:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__ib9W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__otVq6 {
  text-align: center;
}
.svg__zKc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__wA2Tc {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.freeBox__gMqdg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-K0I_pluDx2AD);
}
.addCard:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__uq7Js:global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__uq7Js:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__r1U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yNhsL {
  text-align: center;
  font-size: 12px;
}
.svg__mm1RO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__wpt4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.freeBox___2KsO {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-K0I_pluDx2AD);
}
.freeBox__w5Rka {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__sOGan {
  position: relative;
  height: 1em;
}
.text__ss4Lu {
  padding-left: 0px;
  font-size: 14px;
}
.svg__fh0Yc {
  position: relative;
  height: 1em;
}
.text__rYi4M {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.freeBox__pG1Na {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text__mEaRb {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text__ar1Zb {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.freeBox__oyT3Q {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.reviewRequest:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__dvinr:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__dvinr:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg___0PZze {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__t65K9 {
  text-align: center;
  font-size: 14px;
}
.svg__g7F4W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__hMkpu {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.freeBox__dY7V9 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-K0I_pluDx2AD);
  height: auto;
  width: auto;
  margin: 16px;
}
.freeBox__bmOoO {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__q4Tk {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__yvm4E {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text___7H7RC {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text___23Zq {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.text__yylp9 {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.text__aquZe {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox__nbw5O {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text___8ZlKe {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text__pV73D {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__soZf9 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 2px;
}
.freeBox__wZdbT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__uN6Zi {
  position: relative;
  height: 1em;
}
.text__rB0Ck {
  padding-left: 0px;
  font-size: 12px;
}
.svg__vyUuc {
  position: relative;
  height: 1em;
}
.loginButton__rttG0:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__rttG0:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__zKDrU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ywHiI {
  text-align: center;
  font-size: 12px;
}
.svg__tt4RE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__g5Rw2 {
  position: relative;
  height: 1em;
}
.text__tMaKg {
  padding-left: 0px;
  font-size: 14px;
}
.svg__bsm3T {
  position: relative;
  height: 1em;
}
.getInTheWaitingLine:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__s7XAh:global(.__wab_instance) {
  max-width: 100%;
  width: 248px;
  height: 37px;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__s7XAh:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__l6X7Y {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ePss6 {
  text-align: center;
}
.svg__y8Cdu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__zaUhg {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.freeBox__uN4A {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-K0I_pluDx2AD);
}
.addCard2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__vB5F:global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__vB5F:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__jNCe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rzw1H {
  text-align: center;
  font-size: 12px;
}
.svg___43ImX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3___3EKtw {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.freeBox__va0Tv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-K0I_pluDx2AD);
}
.freeBox__sZ6C {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__kqrEk {
  position: relative;
  height: 1em;
}
.text__bkyab {
  padding-left: 0px;
  font-size: 14px;
}
.svg__eViDb {
  position: relative;
  height: 1em;
}
.text__d4Ycr {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.freeBox__mxo22 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text___7JxS {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text___3AxoB {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.freeBox__dGgY1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.reviewRequest2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__h077X:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__h077X:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__jQtgf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__eX4Mj {
  text-align: center;
  font-size: 14px;
}
.svg__ctc5D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___5Os6W {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-K0I_pluDx2AD);
  height: auto;
  width: auto;
  margin: 16px;
}
.freeBox__pVs82 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg___1DcE9 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__hDsKb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__cqSzT {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__gBubo {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.text__quGNo {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.text__k9ESj {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox__yxPp9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text__smxHl {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text__iKhwz {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text___001Q2 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 2px;
}
.freeBox__cCz7O {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__eETc {
  position: relative;
  height: 1em;
}
.text___3FoNo {
  padding-left: 0px;
  font-size: 12px;
}
.svg__yaTh {
  position: relative;
  height: 1em;
}
.loginButton__f2Ajl:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__f2Ajl:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg___9Ine {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___5WE0 {
  text-align: center;
  font-size: 12px;
}
.svg__v4Kv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nxmKz {
  position: relative;
  height: 1em;
}
.text__vUjuB {
  padding-left: 0px;
  font-size: 14px;
}
.svg__abmbm {
  position: relative;
  height: 1em;
}
