.dialog:global(.__wab_instance) {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  max-width: 100%;
  object-fit: cover;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
}
.loginButton__y5Adg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__k9KxQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zHxb9 {
  padding-bottom: 0px;
}
.svg__v09Fg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.drawerContent:global(.__wab_instance) {
  box-shadow: 0px 4px 16px 0px #00000033;
  background: rgb(255, 255, 255);
  width: auto;
  top: 0;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: auto;
  min-width: 400px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 8px;
  row-gap: 8px;
  padding: 8px;
}
.dialogTitle:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__cViD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__scYjo {
  width: auto;
  height: auto;
  max-width: 100%;
}
.dialogClose:global(.__wab_instance) {
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: 0.7;
  max-width: 100%;
  object-fit: cover;
  border-radius: 999px;
}
