.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background:
    url("/plasmic/ez_marketing_platform/images/heroImageSvg2.svg") top 50% left 50% / cover repeat,
    linear-gradient(0deg, #f2dea9 0%, #e7e6e2 100%);
  height: 900px;
  width: 100%;
  justify-self: flex-start;
  row-gap: 64px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerHeroSection {
    padding-bottom: 0px;
    background:
      url("/plasmic/ez_marketing_platform/images/heroImageSvg2.svg") top 129% left 0% / cover repeat,
      linear-gradient(0deg, #f2dea9 0%, #e7e6e2 100%);
    left: auto;
    top: auto;
    right: auto;
    height: 1500px;
  }
}
.navbar2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__hZ7Hl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 870px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hZ7Hl {
    height: 700px;
    flex-shrink: 0;
  }
}
.img__rWa1P {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  mix-blend-mode: soft-light;
  margin: 0px;
}
.img__rWa1P > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__rWa1P {
    left: auto;
    top: auto;
    display: none;
    margin: 0px;
  }
}
.freeBox___7A1M1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__qx3L {
  object-fit: cover;
  max-width: 900px;
  width: 700px;
  height: 100px;
  flex-shrink: 0;
}
.img__qx3L > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__qx3L {
    max-width: 348px;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-align: center;
  line-height: 88px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    max-width: 800px;
    line-height: 69px;
    font-size: 40px;
  }
}
.text__jgwbd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 903px;
  margin-top: 52px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #000000d1;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: 2px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jgwbd {
    max-width: 700px;
    margin-top: 18px;
  }
}
.freeBox__nQSlR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  column-gap: 24px;
  min-width: 0;
  padding: 52px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nQSlR {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.loginButton__y52G4:global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
  align-self: auto;
  height: 74px;
  flex-shrink: 0;
}
.svg___8Cgn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cJ3G {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 2px;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__mVfj5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.loginButton__vXtVf:global(.__wab_instance) {
  max-width: 100%;
  width: 250px;
  align-self: auto;
  height: 74px;
  transform: none;
  flex-shrink: 0;
}
.svg___09Iow {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___5FSLa {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #228b22;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 2px;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__d7Lg8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #228b22;
}
.footerSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.metaPixel:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
