.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #d9d9d9;
  align-content: center;
  justify-items: center;
  cursor: auto;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.img {
  object-fit: cover;
  max-width: auto;
  height: 100px;
  width: 700px;
  position: relative;
  left: auto;
  top: auto;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: relative;
    left: auto;
    top: auto;
    width: 400px;
  }
}
.rectangle {
  display: flex;
  width: 100%;
  height: 547px;
  background: #ffffff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  border-radius: 51px;
  padding: 64px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle {
    margin-bottom: 0px;
    height: 500px;
    margin-right: 0px;
    width: 375px;
    border-radius: 48px;
    padding: 24px;
  }
}
.solution {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .solution {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__nFere {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.freeBox__o6VJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__jzsOw {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox__v9CBq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v9CBq {
    padding: 0px;
  }
}
.text___2XtTj {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__n8B3Q {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__q6TjD {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__efKqK {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__bLgfz {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  flex-shrink: 0;
  margin: 2px;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.comeToAddress {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___7ShLx {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  text-align: center;
  flex-shrink: 0;
}
.freeBox__wBh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg___5W3T {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___4RZey {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}
.text__lpvzs {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  white-space: pre-wrap;
}
.text___1TlCl {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.freeBox__ljrwx {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ljrwx {
    position: relative;
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.svg__vcQm2 {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__vcQm2 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.slotTargetEMailInput2 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.input__gwbM5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.schedule:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__qkn8E:global(.__wab_instance) {
  max-width: 100%;
  width: 248px;
  height: 37px;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__qkn8E:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__cRt2X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wdnz7 {
  text-align: center;
}
.svg__z4V1E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3___5T1BJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.freeBox__cGei {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-K0I_pluDx2AD);
}
.timePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__xutBg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__beOx9 {
  position: relative;
  height: 1em;
}
.text__vmlmr {
  padding-left: 0px;
  font-size: 14px;
}
.svg__i5Qjv {
  position: relative;
  height: 1em;
}
.reviewRequest:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__amGp2:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__amGp2:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__s0PU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__a1VJv {
  text-align: center;
  font-size: 14px;
}
.svg__v39HH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__jgTia {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.freeBox__lnMaA {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-K0I_pluDx2AD);
  height: auto;
  width: auto;
  margin: 16px;
}
.freeBox__i5WDk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__tFXk {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__vDolf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text___7X9Gu {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__vcftl {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.text__bps2O {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.text__oJhO {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__o3Pdf {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 2px;
}
.freeBox__sbat3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__vuzw {
  position: relative;
  height: 1em;
}
.text__hyXlf {
  padding-left: 0px;
  font-size: 12px;
}
.svg__j6Z6V {
  position: relative;
  height: 1em;
}
.loginButton__tLoq9:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__tLoq9:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__psbk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cakZw {
  text-align: center;
  font-size: 12px;
}
.svg__op21U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.reviewRequest2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__iOoIc:global(.__wab_instance) {
  max-width: 100%;
  width: 248px;
  height: 37px;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__iOoIc:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__ardo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___9PvZx {
  text-align: center;
}
.svg__yrtG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__tkpd2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-K0I_pluDx2AD);
  height: auto;
  width: auto;
  margin: 16px;
}
.freeBox___6Mig {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__mnQbF {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___15EN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__sE6N {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__r2YjE {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.text___3Psuf {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.text__uaKdZ {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__koEtA {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 2px;
}
.freeBox__c2Fk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__mj6E {
  position: relative;
  height: 1em;
}
.text__d89N {
  padding-left: 0px;
  font-size: 12px;
}
.svg___4OCus {
  position: relative;
  height: 1em;
}
.loginButton__tWrWe:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__tWrWe:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__vXsAl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tDqBl {
  text-align: center;
  font-size: 12px;
}
.svg__nxlgV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
