.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-9074UlKQGJHe);
  min-width: 0;
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-ld3qaa7GwJUP);
  width: 100%;
  font-size: var(--token-CV0tlnWYFyuS);
  line-height: var(--token-JfWPk3YXGWbZ);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-Q0zEEgI6pT_W);
  padding: var(--token-Q0zEEgI6pT_W) var(--token-E34vInvuPEHW)
    var(--token-Q0zEEgI6pT_W) var(--token-tUouLJTtO4Vn);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-E34vInvuPEHW);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-E34vInvuPEHW);
  flex-shrink: 0;
  border-radius: var(--token-Q0zEEgI6pT_W);
  border: 1px none black;
}
.svg {
  width: var(--token-Ss3OYau4HzNm);
  height: var(--token-Ss3OYau4HzNm);
}
.description2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__q1NpX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
