.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #d9d9d9;
  align-content: center;
  justify-items: center;
  cursor: auto;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.h3__nRnEs {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.h3__tA9Tu {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  display: none;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.h3__sbSSh {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  display: none;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.h3__gNooX {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  display: none;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.h3__dqrDy {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  display: none;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.progress:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.rectangle {
  display: flex;
  width: 100%;
  height: 547px;
  background: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  border-radius: 51px;
  padding: 64px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle {
    margin-bottom: 0px;
    height: 500px;
    margin-right: 0px;
    width: 375px;
    border-radius: 48px;
  }
}
.loginButton__g2Lnp:global(.__wab_instance) {
  max-width: 100%;
  width: 248px;
  height: 37px;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__g2Lnp:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__aHws3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wZz0Z {
  text-align: center;
}
.svg___4VcjP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__r77L {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 2px;
}
.loginButton__eAQbs:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__eAQbs:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__hpjhq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__y8M49 {
  text-align: center;
}
.svg___8XUl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nfFtO {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 2px;
}
.solution {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .solution {
    position: relative;
    left: auto;
    top: auto;
  }
}
.freeBox__zmlJr {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img > picture > img {
  object-fit: cover;
}
.link {
  animation: none;
  font-size: 12px;
  margin-left: 3px;
  margin-right: 3px;
  color: #545454;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__a8H1H {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.freeBox___5RQb1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text___72Rp {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text___3ZeiK {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.freeBox__pAbGy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__buoe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__ifzg {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__arCdx {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.text__qM13B {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
