.root:global(.__wab_instance) {
  position: relative;
  background: #185adb;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-xluOL6N3B2r-);
  font-family: var(--token-ym9ExLy22F5_);
  font-size: var(--token-CV0tlnWYFyuS);
  line-height: var(--token-JfWPk3YXGWbZ);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-Q0zEEgI6pT_W);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-ewOtdJA9KdEB);
  outline-offset: 1px;
  outline-color: var(--token-eiYlMv5atlTh);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-8lMsBeYLhR3R);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-TKSawkKUo2D3);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-9rpE4Kc27IE4);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-oBrToSPD51Pk);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-lr218BAAY08X);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-q8GAPBzMq1IU);
  font-size: var(--token-GNN1c1e0Jaf6);
  column-gap: var(--token-ewOtdJA9KdEB);
  row-gap: 0px;
  border-radius: var(--token-9074UlKQGJHe);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-GNN1c1e0Jaf6);
  line-height: var(--token-q8GAPBzMq1IU);
  column-gap: var(--token-9074UlKQGJHe);
  row-gap: 0px;
  border-radius: var(--token-9074UlKQGJHe);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-GrHYfGxgODLF);
  line-height: var(--token-6rv8QUkBchyL);
  padding: 8px 16px;
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-GrHYfGxgODLF);
  line-height: var(--token-6rv8QUkBchyL);
  padding: 16px 32px;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-axcOYY8k1uSv);
  border-radius: var(--token-Q0zEEgI6pT_W);
}
.softBackgroundcolor_neutral {
  background: var(--token-d3hjfeF1-rVc);
}
.softBackgroundcolor_muted {
  background: var(--token-caDRrU4v-kwd);
}
.softBackgroundcolor_success {
  background: var(--token-KNGai-O3anVR);
}
.softBackgroundcolor_warning {
  background: var(--token-IAXYap13t0m3);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-Nepgsj-QDhvL);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-Q0zEEgI6pT_W);
  border: 0px solid var(--token-bmHBOQWAu3wV);
}
.bordercolor_neutral {
  border-color: var(--token-72rswddJE30e);
}
.bordercolor_muted {
  border-color: var(--token-p0sXkGh2Eq9i);
}
.bordercolor_success {
  border-color: var(--token-tQC4f0wPe8BH);
}
.bordercolor_warning {
  border-color: var(--token-HV2fdwoIyh9q);
}
.bordercolor_errorDestructive {
  border-color: var(--token-v97oj6x2kY10);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-Q0zEEgI6pT_W);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-qRWHdQVgkaqk);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-A9zbcAMT0a-3);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-UOltPlxJXHzi);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__mPZmE {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-Q0zEEgI6pT_W);
  min-width: 0;
  min-height: 0;
  padding: var(--token-Q0zEEgI6pT_W) var(--token-tUouLJTtO4Vn);
}
.freeBoxsize_extraSmall__mPZmEnoHia {
  padding: var(--token-9074UlKQGJHe) var(--token-Q0zEEgI6pT_W);
}
.freeBoxsize_small__mPZmE1GmJ8 {
  padding: var(--token-Q0zEEgI6pT_W) var(--token-xluOL6N3B2r-);
}
.freeBoxsize_large__mPZmEcCbQk {
  padding-top: var(--token-9074UlKQGJHe);
  padding-bottom: var(--token-9074UlKQGJHe);
}
.freeBoxsize_extraLarge__mPZmEw3JAm {
  padding-left: var(--token-K0I_pluDx2AD);
  padding-right: var(--token-K0I_pluDx2AD);
}
.freeBoxroundedFull__mPZmEcOyuD {
  padding-right: var(--token-K0I_pluDx2AD);
  padding-left: var(--token-K0I_pluDx2AD);
}
.freeBox__p6RBm {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__p6RBmYvQaa {
  display: flex;
}
.slotTargetStart {
  color: var(--token-NoG0O_6lp0C0);
}
.slotTargetStartcolor_neutral {
  color: var(--token-6i8H_lvWSFjW);
}
.slotTargetStartcolor_muted {
  color: var(--token-J3LzTx_o1fmP);
}
.slotTargetStartcolor_success {
  color: var(--token-fuPX0Y1o-bF9);
}
.slotTargetStartcolor_warning {
  color: var(--token-yfqxDTISLBrM);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-f_UAv2zLEjyX);
}
.slotTargetStarttype_soft {
  color: var(--token-OuJQmSq--YiG);
}
.slotTargetStarttype_bordered {
  color: var(--token-OuJQmSq--YiG);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-GNN1c1e0Jaf6);
}
.slotTargetStartsize_small {
  font-size: var(--token-GNN1c1e0Jaf6);
}
.slotTargetStartsize_large {
  font-size: var(--token-GrHYfGxgODLF);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-GrHYfGxgODLF);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-RCo1ZclAUdld);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-RCo1ZclAUdld);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-xsWN-vapNfMw);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-xsWN-vapNfMw);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-LC3vYXVUUYP9);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-LC3vYXVUUYP9);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-P3FkKx1meyUI);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-P3FkKx1meyUI);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-7lX8-RIuxWYJ);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-7lX8-RIuxWYJ);
}
.svg__e316C {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-NoG0O_6lp0C0);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-6i8H_lvWSFjW);
}
.slotTargetLabelcolor_muted {
  color: var(--token-J3LzTx_o1fmP);
}
.slotTargetLabelcolor_success {
  color: var(--token-fuPX0Y1o-bF9);
}
.slotTargetLabelcolor_warning {
  color: var(--token-yfqxDTISLBrM);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-f_UAv2zLEjyX);
}
.slotTargetLabeltype_soft {
  color: var(--token-OuJQmSq--YiG);
}
.slotTargetLabeltype_bordered {
  color: var(--token-OuJQmSq--YiG);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-RCo1ZclAUdld);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-xsWN-vapNfMw);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-RCo1ZclAUdld);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-LC3vYXVUUYP9);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-xsWN-vapNfMw);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-P3FkKx1meyUI);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-LC3vYXVUUYP9);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-7lX8-RIuxWYJ);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-P3FkKx1meyUI);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-7lX8-RIuxWYJ);
}
.text__p3AXe {
  white-space: pre;
}
.freeBox__lG6N7 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__lG6N7AeStE {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-NoG0O_6lp0C0);
}
.slotTargetEndcolor_neutral {
  color: var(--token-6i8H_lvWSFjW);
}
.slotTargetEndcolor_muted {
  color: var(--token-J3LzTx_o1fmP);
}
.slotTargetEndcolor_success {
  color: var(--token-fuPX0Y1o-bF9);
}
.slotTargetEndcolor_warning {
  color: var(--token-yfqxDTISLBrM);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-f_UAv2zLEjyX);
}
.slotTargetEndtype_soft {
  color: var(--token-OuJQmSq--YiG);
}
.slotTargetEndtype_bordered {
  color: var(--token-OuJQmSq--YiG);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-GNN1c1e0Jaf6);
}
.slotTargetEndsize_small {
  font-size: var(--token-GNN1c1e0Jaf6);
}
.slotTargetEndsize_large {
  font-size: var(--token-GrHYfGxgODLF);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-GrHYfGxgODLF);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-RCo1ZclAUdld);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-RCo1ZclAUdld);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-xsWN-vapNfMw);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-xsWN-vapNfMw);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-LC3vYXVUUYP9);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-LC3vYXVUUYP9);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-P3FkKx1meyUI);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-P3FkKx1meyUI);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-7lX8-RIuxWYJ);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-7lX8-RIuxWYJ);
}
.svg__liWEg {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
