.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #d9d9d9;
  align-content: center;
  justify-items: center;
  cursor: auto;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.img {
  object-fit: cover;
  max-width: auto;
  height: 100px;
  width: 700px;
  position: relative;
  left: auto;
  top: auto;
  margin: auto auto 25px;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: relative;
    left: auto;
    top: auto;
    width: 400px;
  }
}
.rectangle {
  display: flex;
  width: 100%;
  height: 547px;
  background: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  border-radius: 51px;
  padding: 100px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle {
    margin-bottom: 0px;
    height: 500px;
    margin-right: 0px;
    width: 375px;
    border-radius: 48px;
    padding: 48px;
  }
}
.text__o0KFf {
  position: relative;
  width: 608px;
  height: auto;
  max-width: 70%;
  color: #000000;
  left: auto;
  top: auto;
}
.h6 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.form:global(.__wab_instance) {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.formField__nVf3S:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
  padding-right: 25px;
  padding-left: 25px;
  min-width: 0;
  margin: 0px;
}
.email:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__wXpbV {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__wXpbV {
    position: relative;
    left: auto;
    top: auto;
  }
}
.formField__p0HYe:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
  padding-right: 25px;
  padding-left: 25px;
  min-width: 0;
  margin: 0px;
}
.password:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__ihNhg {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ihNhg {
    position: relative;
    left: auto;
    top: auto;
  }
}
.errorText {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-lr218BAAY08X);
  text-align: center;
  font-style: italic;
  display: none;
}
.loginButton:global(.__wab_instance) {
  max-width: 100%;
  width: 248px;
  height: 37px;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__tAfQl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4Z38H {
  text-align: center;
}
.svg__x5Imp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__o7Usc {
  color: #545454;
  align-self: flex-end;
  font-size: 14px;
  position: relative;
  left: auto;
  top: auto;
  height: 17px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__o7Usc {
    position: relative;
    left: auto;
    top: auto;
  }
}
.signInWithGoogle:global(.__wab_instance) {
  max-width: 100%;
  width: 248px;
  height: 37px;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .signInWithGoogle:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__tKvUw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___0BBm2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.createAccount {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 254px;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .createAccount {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__aXkee {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  flex-shrink: 0;
}
.link__dNNeM {
  font-size: 14px;
  color: #000000;
  text-decoration-line: underline;
  font-weight: 600;
  padding-left: 4px;
  cursor: pointer;
}
.root .link__dNNeM:hover {
  color: #a5e612;
}
.root .link__dNNeM:active {
  color: #228b22;
  cursor: pointer;
}
