.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-9074UlKQGJHe);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__c0Qhk {
  display: flex;
  flex-direction: column;
}
.freeBox__brAlx {
  flex-direction: row;
  position: absolute;
  height: var(--token-E34vInvuPEHW);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-Q0zEEgI6pT_W) var(--token-tUouLJTtO4Vn);
}
.freeBoxiconStart__brAlxae3P {
  display: flex;
}
.slotTargetStart {
  color: var(--token-ymeTzVmoCDyr);
}
.svg__kEk2S {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__qAuGp {
  height: var(--token-E34vInvuPEHW);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-Q0zEEgI6pT_W) var(--token-tUouLJTtO4Vn);
}
.freeBoxiconEnd__qAuGpbz8Zf {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-ymeTzVmoCDyr);
}
.svg__ewI11 {
  position: relative;
  height: 1em;
}
.description2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
