.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.formulario1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 900px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1380px;
  margin-bottom: 42px;
  column-gap: 30px;
  row-gap: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 30px;
  padding: 55px 8px 57px;
}
.formulario1 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.formulario1 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .formulario1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 30px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .formulario1 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__vd5Dx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  height: 100%;
  width: auto;
  min-height: 0;
}
.img > picture > img {
  object-fit: contain;
}
.column__pzMg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 7px;
  text-align: left;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.1;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
.text__xiLfw {
  position: relative;
  padding-top: 19px;
  max-width: 502px;
  width: 100%;
  align-self: flex-start;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 10px;
  min-width: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 450px;
  max-width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.formField__t4A4:global(.__wab_instance) {
  width: 100%;
  display: block;
  min-width: 0;
  margin: 0px;
}
.svg___3Ecji {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___3Ecji {
    position: relative;
    left: auto;
    top: auto;
  }
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__wqMf6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  margin: 0px;
}
.svg___3YcAx {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___3YcAx {
    position: relative;
    left: auto;
    top: auto;
  }
}
.input11:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__wxfza:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  margin: 0px;
}
.svg__lwvza {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__lwvza {
    position: relative;
    left: auto;
    top: auto;
  }
}
.input12:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___0ENpr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  margin: 0px;
}
.svg__uB6Ch {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__uB6Ch {
    position: relative;
    left: auto;
    top: auto;
  }
}
.input13:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__mfE8Z:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  margin: 0px;
}
.svg__s173N {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__s173N {
    position: relative;
    left: auto;
    top: auto;
  }
}
.input14:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.embedHtml__gmDzW:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.loginButton:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  align-self: auto;
}
.svg__ojzgz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hyAz2 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ox7Pb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.formField__h0FXe:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__qz7Ta {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.embedHtml__d8YIx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.metaPixel:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
