.root {
  position: relative;
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px;
}
.rootbackground_dark {
  background: var(--token-zzbsRv0J9TDz);
}
.rootbackground_gray {
  background: #e7e6e2;
}
.rootbackground_darkBlue {
  background: #032974;
}
.rootbackground_blue {
  background: #e5eeff;
}
.rootsize_fullContentWidth {
  padding: 0px;
}
.rootsize_fullContentGallery {
  padding: 64px 0px;
}
.rootsize_dashboardSection {
  padding-right: 0px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.rootsize_faq {
  padding-left: 50px;
  padding-right: 50px;
}
.rootsize_widthContent1140Px {
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
  max-width: var(--token-CjdJaX-lmJtF);
  display: inline-flex;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  background: none;
  max-width: var(--token-CjdJaX-lmJtF);
  min-width: 0;
  padding: 8px;
}
.freeBoxsize_fullContentWidth {
  max-width: none;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.freeBoxsize_fullContentGallery {
  max-width: 100%;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0;
}
