.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #d9d9d9;
  align-content: center;
  justify-items: center;
  cursor: auto;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.h3__p6Hn0 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.rectangle {
  display: flex;
  width: 100%;
  height: 547px;
  background: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  border-radius: 51px;
  padding: 64px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle {
    margin-bottom: 0px;
    height: 500px;
    margin-right: 0px;
    width: 375px;
    border-radius: 48px;
  }
}
.rateSuccessModal:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.loginButton:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.svg__iwWzk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4PYuR {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  color: var(--token-Zaz6uFxjF0MD);
  font-weight: 700;
  background: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.svg {
  animation: none;
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-Zaz6uFxjF0MD);
}
.h3__tcu {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 1064px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-size: 18px;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.freeBox__jy6Vc {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
}
.text__fDHwT {
  animation: none;
  width: auto;
  height: auto;
  max-width: 1064px;
  font-size: 12px;
  white-space: pre-wrap;
  margin-right: 3px;
  margin-left: 3px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.radioGroup:global(.__wab_instance) {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 8px;
}
.radio__eJoP5:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text___1NTl {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.radio__o0Ojd:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text___7Fm3Q {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.text__sUd3E {
  animation: none;
  width: auto;
  height: auto;
  max-width: 1064px;
  font-size: 12px;
  white-space: pre-wrap;
  margin-right: 3px;
  margin-left: 3px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.radioGroup2:global(.__wab_instance) {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 8px;
}
.radio__uzTfH:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__jaD4H {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.radio__szuwb:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__eN5Kf {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.text__qnNd {
  animation: none;
  width: auto;
  height: auto;
  max-width: 1064px;
  font-size: 12px;
  white-space: pre-wrap;
  margin-right: 3px;
  margin-left: 3px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.radioGroup3:global(.__wab_instance) {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 8px;
}
.radio__b1F9:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__jIfie {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.radio___2Mmqo:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__q1Voj {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.rate10:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-lumfGrWG5dbz);
}
.text__pqEu7 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__qiUvf {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__nr0Hm {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__rtLcS {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__weD8 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__ivsvM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  font-weight: 300;
  min-width: 0;
}
.freeBox__gCuzG {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.button2__mPiq3:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  margin: 8px;
}
.svg__dlF7R {
  position: relative;
  height: 1em;
}
.text___1Yb83 {
  animation: none;
  padding-left: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__hfFhN {
  position: relative;
  height: 1em;
}
.button2__nfDpO:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
}
.svg__zpQ9N {
  position: relative;
  height: 1em;
}
.text__d1HhL {
  animation: none;
  padding-left: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__uOEfj {
  position: relative;
  height: 1em;
}
.rate11:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-lumfGrWG5dbz);
}
.text__hmpZ {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__oof1E {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__njVsw {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__iVQht {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__rr0Ko {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__hk9O4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  min-width: 0;
}
.solution {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .solution {
    position: relative;
    left: auto;
    top: auto;
  }
}
.freeBox__iIech {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img > picture > img {
  object-fit: cover;
}
.link {
  animation: none;
  font-size: 12px;
  margin-left: 3px;
  margin-right: 3px;
  color: #545454;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__n7GK3 {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.freeBox__fXsh1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text___3Ymxt {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text__uJm2M {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text___5QKsv {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
