.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #e7e6e2;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.topBar {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  background: #ffffff;
  column-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 229px;
  border-bottom: 1px solid #53535333;
}
@media (min-width: 0px) and (max-width: 768px) {
  .topBar {
    animation: none;
    margin-bottom: 0px;
    padding: 0px;
  }
}
.freeBox__f3WqD {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f3WqD {
    animation: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.freeBox___6JM0N {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 982px;
  height: 40px;
  column-gap: 8px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6JM0N {
    animation: none;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.navigationBar:global(.__wab_instance) {
  animation: none;
  width: 982px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  padding: 16px;
}
.link__zlHZz {
  animation: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.img___0LjrX {
  animation: none;
  object-fit: cover;
  height: 30px;
  object-position: 100% 100%;
  position: absolute;
  left: 0px;
  top: 5px;
}
.img___0LjrX > picture > img {
  object-fit: cover;
  object-position: 100% 100%;
}
.img__sE6No {
  animation: none;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}
.img__sE6No > picture > img {
  object-fit: cover;
}
.img__k01J {
  animation: none;
  object-fit: cover;
}
.img__k01J > picture > img {
  object-fit: cover;
}
.link__xZruD {
  animation: none;
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 520px;
  top: 0px;
  text-align: center;
  font-size: 11px;
  color: #228b22;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
  border-bottom: 2px solid #228b2266;
}
.link__oIdfd {
  animation: none;
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 602px;
  top: 0px;
  font-size: 11px;
  text-align: center;
  color: #545454;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
}
.link__qMyK {
  animation: none;
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 692px;
  top: 0px;
  font-size: 11px;
  text-align: center;
  color: #545454;
  cursor: not-allowed;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
}
.link___7RLlo {
  animation: none;
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 782px;
  top: 0px;
  font-size: 11px;
  text-align: center;
  color: #545454;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
}
.account:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 30px;
  height: 30px;
  padding-left: 0px;
  margin-left: 4px;
  font-size: 12px;
  color: #cb1717;
  box-shadow: none;
  font-weight: 300;
  position: absolute;
  left: 924px;
  top: 4px;
  flex-shrink: 0;
}
.menuItem__vfiJu:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__w1H27 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.menuItem__sj9Y4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__tjus8 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.button:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  border-width: 0px;
}
.img__xaeuY {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 11px;
}
.img__xaeuY > picture > img {
  object-fit: cover;
}
.countainer1 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1064px;
  height: 200px;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  left: auto;
  top: auto;
  min-width: 1064px;
  margin-top: 31px;
  margin-left: 0px;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #53535333;
}
.freeBox__nrmmg {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border: 1px solid #f2dea926;
}
.companyLogo {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 8px;
}
.companyLogo > picture > img {
  object-fit: cover;
}
.freeBox__yrEkf {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__qMeH {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.companyName {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  margin-right: 3px;
  margin-left: 3px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 0px;
}
.companyType {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  margin-left: 3px;
  margin-right: 3px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__wdRmS {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  min-height: 0;
  padding: 0px;
}
.averageRate:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: auto;
  text-align: center;
  font-size: 14px;
  color: var(--token-lumfGrWG5dbz);
  white-space: pre;
}
.text___4NWmP {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__fbz6 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text___23Mbo {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__n6BOa {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__etoKi {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.rateSum {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__gq1EP {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.area {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  margin-left: 3px;
  margin-right: 3px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.subArea {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  margin-left: 3px;
  margin-right: 3px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.location {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 600;
  margin-left: 3px;
  margin-right: 3px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__rflHt {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__f2H4X {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 138px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.text__vowyo {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.foundationDate {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 0px;
}
.freeBox__dOyTl {
  animation: none;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: auto;
  top: auto;
  min-height: 0;
  padding: 8px 0px 0px;
}
.goalsSum {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 2px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__cZc2M {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: center;
  white-space: pre;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 2px;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__tw4F2 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.partnershipLink:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 150px;
}
.svg___5Mj1U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__py6O5 {
  animation: none;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___9D6KU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.companyTagline {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.freeBox___9GiVu {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 600px;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__uTTvG {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #228b2266;
}
.svg__zogUk {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-top: -7px;
  height: 1em;
}
.linkedIn {
  animation: none;
  color: #228b22;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__qWnIi {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #228b2266;
}
.svg__nxIqc {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-top: -7px;
  height: 1em;
}
.instagram {
  animation: none;
  color: #228b22;
  font-size: 11px;
  margin-left: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__zkXlT {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #228b2266;
}
.svg__mKjd {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-top: -7px;
  height: 1em;
}
.x {
  animation: none;
  color: #228b22;
  font-size: 11px;
  margin-left: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___35QoW {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #228b2266;
}
.svg__k7KYq {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.website {
  animation: none;
  color: #228b22;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.rateThisCompany {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 1064px;
  margin-top: 31px;
  padding: 0px;
}
.text__sxOBi {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 3px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.actualData {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 8px;
}
.freeBox__vqds {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 31px;
  padding: 0px;
}
.freeBox__a2Gz7 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  max-width: 350px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  border: 1px solid #53535333;
}
.svg__ppQea {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 150px;
  color: var(--token-T_VIBFeg_PnZ);
  box-shadow: none;
  flex-shrink: 0;
}
.text___2GTbi {
  animation: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.text__eziMh {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.rate:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  z-index: 9999;
}
.rating:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-QylEKHxwjJJM);
  box-shadow: none;
  font-size: 30px;
  padding: 8px;
}
.text__pNsnc {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__mqZ7W {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__jVgrq {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__nqPc5 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__sc33J {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.h3 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-style: normal;
  color: #000000;
  text-align: left;
  line-height: 1.2;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-size: var(--token-GrHYfGxgODLF);
  min-width: 0;
  padding: var(--token-qJxRVXn7Y9Jn);
}
.freeBox__ghR4L {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-K0I_pluDx2AD);
}
.text__dqrto {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.comment:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__e0ZOv {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.confirmRate:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
}
.svg__jcktK {
  position: relative;
  height: 1em;
}
.text__dXiQj {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__zvkYw {
  position: relative;
  height: 1em;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
}
.svg__bRc2F {
  position: relative;
  height: 1em;
}
.text___0Mdi7 {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__dORf {
  position: relative;
  height: 1em;
}
.freeBox__j4Rkl {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  max-width: 350px;
  max-height: 300px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  border: 1px solid #53535333;
}
.svg__ydGJx {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 100px;
  color: var(--token-hwBE2qB6HKD2);
  box-shadow: none;
  flex-shrink: 0;
}
.text__aLpe9 {
  animation: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.text__x7M4F {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.companyRated:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.text__opOKi {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__qiAvP {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__qgbYd {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__xi7ZT {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__loLog {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.rateSum2 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__yk72K {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 350px;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  max-height: 300px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  border: 1px solid #53535333;
}
.svg__nead {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 100px;
  color: var(--token-Zaz6uFxjF0MD);
  box-shadow: none;
  flex-shrink: 0;
}
.text__jy5Kj {
  animation: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.text__l7TuA {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.customerRated:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-Zaz6uFxjF0MD);
  padding: 8px;
}
.text__nqWYf {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__tcAeF {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__j5Btd {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text___9XOs {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__qMmU {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.rateSum3 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__ptbaS {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  min-width: 1064px;
  max-height: 300px;
  overflow: auto;
  padding: 0px;
  margin: 31px;
}
.freeBox__vnT44 {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__uFjn {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 8px;
}
.freeBox___80XxT {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__dheQk {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 148px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
}
.text__embid {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 148px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
}
.text__uBxzn {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 148px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
}
.reportRate {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
  margin: 8px 0px;
}
.reportData {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 8px;
}
.freeBox___7Vb4L {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.companyRate:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.text__mkDtT {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__ksuql {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text___1APk {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__h0Ip {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__egxf6 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.customerInstruction:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.text__a7Fwg {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__jzJa4 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__cQgC {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text___1WqNq {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__z4OAk {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.averageRatingReceived:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.text__unAcD {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__jo6PQ {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text___4LyY {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__icE1Z {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text___2AeG0 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
